<nav
  class="navbar navbar-expand-md navbar-light bg-light flex-md-row flex-column align-items-stretch"
>
  <div class="d-flex align-items-center mw-100">
    <a class="navbar-brand" href="/">
      <img src="assets/images/originals/logo-accidentes.svg" />
    </a>
    <div
      class="py-1 text-right d-md-none d-inline-flex flex-column text-nowrap ml-auto"
    >
      <a href="mailto:<%= contactEmail %>" class="h-fono">
        <%= contactEmail %></a
      >
      <a href="tel:+56 2 6465 6700">+56 2 6465 6700</a>
      <a href="https://api.whatsapp.com/send?phone=56988362449" target="_blank">
        <i class="fa fa-whatsapp"></i>+56 9 8836 2449
      </a>
    </div>
  </div>
  <div class="ml-md-auto">
    <div class="py-1 text-right d-none d-md-block">
      <span>
        <a href="mailto:<%= contactEmail %>" class="h-fono">
          <%= contactEmail %></a
        >
        <span>|</span>
      </span>
      <span> Central <a href="tel:+56 2 6465 6700">+56 2 6465 6700</a> </span>
      <span>
        <span>|</span>
        <a
          href="https://api.whatsapp.com/send?phone=56988362449"
          target="_blank"
          ><i class="fa fa-whatsapp"></i> +56 9 8836 2449</a
        >
      </span>
    </div>
    <div class="py-1">
      <div class="d-flex d-md-none justify-content-between align-items-center">
        <h2 class="navbar__menu-title">Menu</h2>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto align-items-start">
          <li class="nav-item active">
            <a class="nav-link text-sm-center" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link handle-scroll text-sm-center"
              href="/#accidentes-del-trabajo"
              >Accidentes del Trabajo</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link handle-scroll text-sm-center"
              href="/#enfermedades-profesionales"
              >Enfermedades Profesionales</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link handle-scroll text-sm-center" href="/#costos"
              >Costos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-sm-center" href="/preguntas-frecuentes"
              >Preguntas Frecuentes</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="/#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
