<nav
  class="navbar navbar-expand-md navbar-light bg-light flex-md-row flex-column align-items-stretch"
>
  <div class="d-flex align-items-center">
    <a class="navbar-brand" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="50 100 750 300">
        <defs>
          <clipPath id="clip-path">
            <circle cx="140.14" cy="184.74" r="60.4" fill="none" />
          </clipPath>
          <style>
            .cls-2 {
              fill: #393168;
            }
            .cls-3 {
              fill: #e74121;
            }
          </style>
        </defs>
        <path
          class="cls-2"
          d="M390 136.35c14.64 0 20.1 13.13 20.1 13.13h.23a24.59 24.59 0 0 1-.46-4.76v-30.21h4.88v81.34h-4.88v-7.33a19 19 0 0 1 .46-4.41h-.23s-5 13.13-21 13.13c-15.57 0-25.1-12.43-25.1-30.44-.07-18.48 10.73-30.45 26-30.45Zm-.7 56.13c10.69 0 20.68-7.56 20.68-25.8 0-12.9-6.62-25.56-20.21-25.56-11.39 0-20.69 9.41-20.69 25.68-.08 15.68 8.33 25.68 20.18 25.68ZM459.32 136.35c15.8 0 23.71 12.43 23.71 26.49a30.78 30.78 0 0 1-.24 3.14H436.2c0 16.85 11.38 26.5 24.86 26.5a26.31 26.31 0 0 0 18-7.33l2.67 4.07a31.68 31.68 0 0 1-20.69 8c-16.38 0-30-11.85-30-30.33.04-19.62 13.41-30.54 28.28-30.54Zm18.59 25.1c-.58-14.18-9.06-20.57-18.71-20.57-10.69 0-20.56 7-22.65 20.57ZM497.54 185.15a25.29 25.29 0 0 0 18 7.33c7.09 0 13.37-3.72 13.37-10.93 0-14.75-32-10.57-32-29.51 0-10.34 8.72-15.69 18.59-15.69 11.86 0 17.2 6.28 17.2 6.28l-2.9 4s-4.77-5.46-14.64-5.46c-6.63 0-13.13 3-13.13 10.57 0 15.11 31.95 10.57 31.95 29.86 0 9.3-7.9 15.69-18.59 15.69-14.06 0-21-8.37-21-8.37ZM550.06 137.75h4.88v7a29.59 29.59 0 0 1-.35 4.65h.23s4.77-13 20.92-13c15.57 0 25.1 12.43 25.1 30.45 0 18.47-10.81 30.44-25.8 30.44s-20.33-13.13-20.33-13.13h-.23a26.22 26.22 0 0 1 .46 5.11v29.87h-4.88Zm25 54.73c11.39 0 20.69-9.42 20.69-25.68 0-15.69-8.37-25.68-20.22-25.68-10.69 0-20.69 7.55-20.69 25.79-.02 12.9 7.16 25.57 20.16 25.57ZM616.87 114.51h5.81V123h-5.81Zm.46 23.24h4.89v58.1h-4.89ZM664.86 136.35c14.64 0 20.1 13.13 20.1 13.13h.23a24.59 24.59 0 0 1-.46-4.76v-30.21h4.88v81.34h-4.88v-7.33a19 19 0 0 1 .46-4.41H685s-5 13.13-21 13.13c-15.57 0-25.1-12.43-25.1-30.44-.07-18.48 10.73-30.45 25.96-30.45Zm-.7 56.13c10.69 0 20.68-7.56 20.68-25.8 0-12.9-6.62-25.56-20.22-25.56-11.38 0-20.68 9.41-20.68 25.68 0 15.68 8.37 25.68 20.22 25.68ZM735.85 136.35a29.88 29.88 0 0 1 30.09 30.1c0 17.31-13.48 30.79-30.09 30.79s-30.1-13.48-30.1-30.79a29.88 29.88 0 0 1 30.1-30.1Zm0 56.13c13.82 0 25-11.28 25-26a25 25 0 1 0-50 0c.01 14.72 11.15 26 25 26ZM397.39 242.33v61.35c0 20.1-18.82 22.66-28.12 22.66a35.69 35.69 0 0 1-5.34-.35v-16.73s1 .11 2.55.11c4 0 10.81-.93 10.81-7.67v-59.37ZM411.45 242.33h20.1v35.09c0 5.57 2.21 7.9 6.4 7.9 8.59 0 12.66-7.55 12.66-16.5v-26.49h20.1v59.84h-19.29v-5.23a30.63 30.63 0 0 1 .24-3.72h-.24c-3.25 6.39-10.69 10.34-18.7 10.34-11.86 0-21.27-5.57-21.27-22.42ZM489.53 281.25s6.62 6 15.22 6c3 0 5.93-.81 5.93-2.78 0-5.23-28-5.81-28-25.34 0-11.27 10.8-18.24 24.63-18.24s21 6.86 21 6.86l-6.85 14.29a23.91 23.91 0 0 0-14.18-4.88c-3 0-5.93.81-5.93 2.9 0 4.54 28 5.23 28 24.52 0 10.23-9.07 18.94-24.52 18.94a36.05 36.05 0 0 1-23.94-8.83ZM543.33 259.06h-7.67v-15.69h8.25v-17.2h19.52v17.2H576v15.69h-12.57v18.36c0 6.74 6.85 7.67 10.69 7.67a25.76 25.76 0 0 0 2.67-.12v17.43a38.56 38.56 0 0 1-5.46.35c-9.53 0-28-2.56-28-22.66ZM617.92 240.93c18.94 0 34.05 12.67 34.05 31.49s-15.11 31.14-33.97 31.14-33.93-12.43-33.93-31.14 15.14-31.49 33.85-31.49Zm.12 45.9c7.32 0 13.59-5.46 13.59-14.41s-6.27-14.76-13.59-14.76-13.6 5.7-13.6 14.76 6.28 14.41 13.56 14.41ZM665.78 290.31h7.09v7.33h-7.09ZM712 238.14c13.83 0 20.8 8.25 20.8 8.25l-3 4a25.25 25.25 0 0 0-17.8-7.48c-13.6 0-24.87 10.11-24.87 25.79 0 15.46 11.27 25.57 24.87 25.57a25.66 25.66 0 0 0 19.41-8.37l2.55 4.07S726.38 299 712 299c-16.38 0-30-11.85-30-30.33s13.82-30.53 30-30.53ZM749.5 216.3h4.88v68.09c0 8.13 4.18 9.06 6.85 9.06a14.53 14.53 0 0 0 1.74-.11v4.53a11.08 11.08 0 0 1-2.09.23c-3.37 0-11.38-1.28-11.38-12.2Z"
        />
        <circle class="cls-3" cx="669.44" cy="293.98" r="8.66" />
        <path class="cls-3" d="M323.57 116.29h6.34v247.83h-6.34z" />
        <path
          d="M303.47 359c-10.09-16.84-19.47-32.41-28.73-48-18.92-31.79-38.38-63.28-56.33-95.62-4.87-8.77-5.86-20-7.36-30.28-4.39-30.14-24.15-53.82-52.2-61.5-41.52-11.37-83.51 17.74-86.53 60.62-2.59 36.7 1.15 72.43 19.68 105.35 9.43 16.72 20.81 31.78 35.25 44.47 2.22 1.95 4.35 4 6.72 6.21-1.57 2.58-4 4.83-4.11 7.18-.16 3.68.09 8.52 2.3 10.85a14.68 14.68 0 0 0 11.06 3.92c8.55-1.12 14.57-6.48 16.71-15.12 2.46-9.93-1.7-17.75-9.2-23.76a148.34 148.34 0 0 1-46-61.9c-10.09-25.37-11.09-51.81-8.66-78.35 1.83-19.91 18.78-35.5 38.8-38.25 19.85-2.73 40.5 8.29 47.71 27.56 4.41 11.78 6.31 24.61 8.43 37.12 2.49 14.65 11.23 26.06 18.43 38.25 17.3 29.28 35 58.34 52.44 87.51.74 1.23 1 2.73 1.87 5-14.08 1.66-27.07-.95-40.2-3.91-20.53-4.64-52.87-42.13-49.31-66.51 1.43-9.79 3.15-19.11 10-26.91 5.66-6.48 5.23-12.91-.47-17.75-5.32-4.51-11.39-4-17.13 2.42-14.75 16.58-18.41 36.62-14.56 57.56 6.2 33.77 40.6 78.23 93.85 78.82 10.75.12 21.55.28 32.25-.52 7.93-.55 15.72-2.67 25.29-4.46Z"
          stroke="#fff"
          stroke-miterlimit="10"
          stroke-width="2"
          fill="#e74121"
        />
        <g clip-path="url(#clip-path)">
          <path
            class="cls-3"
            d="M103.76 253.38A155.27 155.27 0 0 1 85 198.29C81.71 174 89.49 154 109.43 139.75c18.38-13.1 38.63-14.51 58.6-3.88 21.68 11.54 32.32 30.53 31.34 55-.86 21.48-8 41.44-18.12 60.31-1 1.82-1.92 3.66-3.24 6.18h13.73c5.67.07 8.85 2.67 8.8 7.13s-2.91 6.74-8.51 6.75H91.77c-5.61 0-8.46-2.36-8.52-6.75s3.09-7.07 8.79-7.14c4.28-.05 8.56 0 13.77 0-1.02-1.98-1.51-2.99-2.05-3.97ZM135 182.57c0-10.07-7.49-17.59-17.27-18.31-9.28-.68-17.44 5.93-19.34 15.66A46 46 0 0 0 118 226.56a43.35 43.35 0 0 0 48.14-.14 46.15 46.15 0 0 0 19.28-46.76c-2-9.6-10.26-16.14-19.59-15.41a18.27 18.27 0 0 0-17 18.59c0 5.88-2.1 10.14-6.89 13.55-4.94-3.58-6.94-7.97-6.94-13.82Zm-15.77-32.21a34 34 0 0 1 22.49 12.36c6.19-6.52 13.21-11.44 23.08-12.18-11.18-9.74-34.44-9.74-45.56-.18Z"
          />
        </g>
        <circle class="cls-3" cx="166.26" cy="182.01" r="11.62" />
        <circle class="cls-3" cx="119.16" cy="182.01" r="11.62" />
        <path
          class="cls-3"
          d="M378.39 351.76h1.37v-.7c0-4.6-2.36-6.17-5.67-6.17a9.73 9.73 0 0 0-5.92 2l-1-1.41a10.8 10.8 0 0 1 7-2.28c4.76 0 7.33 2.65 7.33 7.83v13.36h-1.74v-2.73a9.15 9.15 0 0 1 .17-1.86h-.09s-1.86 5.09-7.24 5.09c-3.35 0-7-1.87-7-6-.03-7.05 9.11-7.13 12.79-7.13Zm-5.71 11.5c4.51 0 7.08-4.67 7.08-8.77v-1.12h-1.32c-3.52 0-11.05 0-11.05 5.38 0 2.25 1.78 4.51 5.29 4.51ZM388.62 360.57a9 9 0 0 0 6.41 2.61c2.52 0 4.76-1.32 4.76-3.89 0-5.25-11.38-3.76-11.38-10.51 0-3.68 3.1-5.59 6.62-5.59 4.22 0 6.12 2.24 6.12 2.24l-1 1.41a7.08 7.08 0 0 0-5.21-1.95c-2.36 0-4.68 1.08-4.68 3.77 0 5.38 11.38 3.76 11.38 10.63 0 3.31-2.82 5.59-6.62 5.59a10 10 0 0 1-7.49-3ZM416.71 343.19c5.63 0 8.44 4.43 8.44 9.44 0 .45-.08 1.12-.08 1.12h-16.59c0 6 4 9.43 8.85 9.43a9.36 9.36 0 0 0 6.42-2.61l.95 1.45a11.28 11.28 0 0 1-7.37 2.86 10.4 10.4 0 0 1-10.67-10.8c0-7 4.76-10.89 10.05-10.89Zm6.62 8.94c-.2-5.05-3.22-7.32-6.66-7.32-3.8 0-7.32 2.48-8.07 7.32ZM431.11 360.57a9 9 0 0 0 6.42 2.61c2.52 0 4.76-1.32 4.76-3.89 0-5.25-11.38-3.76-11.38-10.51 0-3.68 3.1-5.59 6.62-5.59 4.22 0 6.12 2.24 6.12 2.24l-1 1.41a7.09 7.09 0 0 0-5.22-1.95c-2.35 0-4.67 1.08-4.67 3.77 0 5.38 11.38 3.76 11.38 10.63 0 3.31-2.82 5.59-6.62 5.59a10 10 0 0 1-7.49-3ZM459.79 343.19a10.64 10.64 0 0 1 10.72 10.72 10.72 10.72 0 1 1-21.44 0 10.64 10.64 0 0 1 10.72-10.72Zm0 20a9 9 0 0 0 8.9-9.27 8.9 8.9 0 1 0-17.8 0 9 9 0 0 0 8.9 9.26ZM477.05 343.69h1.74v3.93a8.55 8.55 0 0 1-.17 1.7h.08c1-3.19 3.35-5.79 6.62-5.79a6.72 6.72 0 0 1 1.2.12v1.74a6.84 6.84 0 0 0-.95-.08c-3.23 0-5.25 2.73-6.16 5.79a14.55 14.55 0 0 0-.62 4.34v8.94h-1.74ZM494.55 335.42h2.32L493.6 340h-1.82Zm-2.73 8.27h1.74v20.69h-1.74ZM512.76 351.76h1.36v-.7c0-4.6-2.36-6.17-5.66-6.17a9.7 9.7 0 0 0-5.92 2l-1-1.41a10.85 10.85 0 0 1 7-2.28c4.76 0 7.32 2.65 7.32 7.83v13.36h-1.74v-2.73a9.15 9.15 0 0 1 .17-1.86h-.08s-1.87 5.09-7.24 5.09c-3.36 0-7-1.87-7-6-.04-7.05 9.11-7.13 12.79-7.13Zm-5.71 11.5c4.51 0 7.07-4.67 7.07-8.77v-1.12h-1.32c-3.52 0-11 0-11 5.38-.05 2.25 1.73 4.51 5.25 4.51ZM547 351.76h1.37v-.7c0-4.6-2.36-6.17-5.67-6.17a9.73 9.73 0 0 0-5.92 2l-1-1.41a10.8 10.8 0 0 1 7-2.28c4.76 0 7.32 2.65 7.32 7.83v13.36h-1.73v-2.73a9.7 9.7 0 0 1 .16-1.86h-.08s-1.86 5.09-7.24 5.09c-3.35 0-7-1.87-7-6-.02-7.05 9.13-7.13 12.79-7.13Zm-5.71 11.5c4.51 0 7.08-4.67 7.08-8.77v-1.12h-1.33c-3.51 0-11 0-11 5.38-.04 2.25 1.75 4.51 5.27 4.51ZM557.7 335.42h1.73v24.24c0 2.9 1.49 3.23 2.45 3.23a5.1 5.1 0 0 0 .62 0v1.61a3.75 3.75 0 0 1-.75.09c-1.2 0-4-.46-4-4.35ZM581.12 345.39h-2.73v-1.57h2.73v-5.88h1.73v5.88h5.43v1.57h-5.43v11.38c0 5.46 3.27 6.16 4.93 6.16a5 5 0 0 0 1-.08v1.61a5.29 5.29 0 0 1-1 .09c-2.16 0-6.58-.79-6.58-7.66ZM594.24 343.69H596v3.93a9.06 9.06 0 0 1-.16 1.7h.08c1-3.19 3.35-5.79 6.62-5.79a6.72 6.72 0 0 1 1.2.12v1.74a7 7 0 0 0-1-.08c-3.23 0-5.26 2.73-6.17 5.79a14.88 14.88 0 0 0-.62 4.34v8.94h-1.73ZM620.14 351.76h1.36v-.7c0-4.6-2.35-6.17-5.66-6.17a9.73 9.73 0 0 0-5.92 2l-1-1.41a10.8 10.8 0 0 1 7-2.28c4.76 0 7.32 2.65 7.32 7.83v13.36h-1.74v-2.73a9.15 9.15 0 0 1 .17-1.86h-.08s-1.86 5.09-7.24 5.09c-3.35 0-7-1.87-7-6-.04-7.05 9.11-7.13 12.79-7.13Zm-5.71 11.5c4.51 0 7.07-4.67 7.07-8.77v-1.12h-1.32c-3.52 0-11 0-11 5.38-.05 2.25 1.73 4.51 5.25 4.51ZM631 335.42h1.74v10.75a8.42 8.42 0 0 1-.17 1.7h.09a7.92 7.92 0 0 1 7.49-4.68c5.54 0 8.93 4.43 8.93 10.85s-3.84 10.84-9.26 10.84a8 8 0 0 1-7.16-4.68h-.09a9.08 9.08 0 0 1 .17 1.82v2.36H631Zm8.9 27.76c4.05 0 7.36-3.35 7.36-9.14 0-5.59-3-9.15-7.2-9.15-3.8 0-7.36 2.69-7.36 9.19.02 4.59 2.38 9.1 7.22 9.1ZM666.9 351.76h1.36v-.7c0-4.6-2.36-6.17-5.67-6.17a9.68 9.68 0 0 0-5.91 2l-1-1.41a10.85 10.85 0 0 1 7-2.28c4.76 0 7.32 2.65 7.32 7.83v13.36h-1.74v-2.73a9.15 9.15 0 0 1 .17-1.86h-.08s-1.87 5.09-7.25 5.09c-3.35 0-7-1.87-7-6-.03-7.05 9.12-7.13 12.8-7.13Zm-5.71 11.5c4.51 0 7.07-4.67 7.07-8.77v-1.12h-1.32c-3.52 0-11.05 0-11.05 5.38 0 2.25 1.78 4.51 5.3 4.51ZM679.52 343.69v21.52c0 6.87-4.47 7.65-6.58 7.65a5.93 5.93 0 0 1-1-.08v-1.61a4.75 4.75 0 0 0 .91.08c1.65 0 5-.66 5-6v-21.56Zm-1.9-8.27h2.07v3h-2.07ZM698.72 351.76h1.36v-.7c0-4.6-2.35-6.17-5.66-6.17a9.73 9.73 0 0 0-5.92 2l-1-1.41a10.8 10.8 0 0 1 7-2.28c4.76 0 7.32 2.65 7.32 7.83v13.36h-1.74v-2.73a9.15 9.15 0 0 1 .17-1.86h-.08s-1.86 5.09-7.24 5.09c-3.35 0-7-1.87-7-6-.04-7.05 9.07-7.13 12.79-7.13Zm-5.72 11.5c4.51 0 7.07-4.67 7.07-8.77v-1.12h-1.32c-3.52 0-11 0-11 5.38-.04 2.25 1.74 4.51 5.25 4.51ZM717.51 343.19a8 8 0 0 1 7.15 4.68h.09a8.42 8.42 0 0 1-.17-1.7v-10.75h1.74v29h-1.74v-2.61a6.52 6.52 0 0 1 .17-1.57h-.09a7.92 7.92 0 0 1-7.49 4.68c-5.54 0-8.93-4.43-8.93-10.84 0-6.62 3.85-10.89 9.27-10.89Zm-.25 20c3.8 0 7.36-2.69 7.36-9.18 0-4.6-2.36-9.11-7.2-9.11-4 0-7.36 3.35-7.36 9.15 0 5.57 2.94 9.13 7.2 9.13ZM743.58 343.19a10.64 10.64 0 0 1 10.71 10.72 10.72 10.72 0 1 1-21.43 0 10.64 10.64 0 0 1 10.72-10.72Zm0 20a9 9 0 0 0 8.89-9.27 8.9 8.9 0 1 0-17.79 0 9 9 0 0 0 8.9 9.26ZM760.83 343.69h1.74v3.93a8.55 8.55 0 0 1-.17 1.7h.09c1-3.19 3.35-5.79 6.62-5.79a6.72 6.72 0 0 1 1.2.12v1.74a7.08 7.08 0 0 0-1-.08c-3.22 0-5.25 2.73-6.16 5.79a14.55 14.55 0 0 0-.62 4.34v8.94h-1.74Z"
        />
      </svg>
    </a>
    <div
      class="py-1 text-right d-md-none d-inline-flex flex-column text-nowrap ml-auto"
    >
      <a href="mailto:<%= contactEmail %>" class="h-fono">
        <%= contactEmail %></a
      >
      <a href="tel:+56 2 6465 6700">+56 2 6465 6700</a>
      <a href="https://api.whatsapp.com/send?phone=56923888595" target="_blank">
        <i class="fa fa-whatsapp"></i>+56 9 2388 8595
      </a>
    </div>
  </div>
  <div class="ml-md-auto">
    <div class="py-1 text-right d-none d-md-block">
      <span>
        <a href="mailto:<%= contactEmail %>" class="h-fono">
          <%= contactEmail %></a
        >
        <span>|</span>
      </span>
      <span> Central <a href="tel:+56 2 6465 6700">+56 2 6465 6700</a> </span>
      <span>
        <span>|</span>
        <a
          href="https://api.whatsapp.com/send?phone=56226985396"
          target="_blank"
          ><i class="fa fa-whatsapp"></i> +56 2 2698 5396</a
        >
      </span>
    </div>
    <div class="py-1">
      <div class="d-flex d-md-none justify-content-between align-items-center">
        <h2 class="navbar__menu-title">Menu</h2>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto align-items-start">
          <li class="nav-item active">
            <a class="nav-link text-sm-center" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-sm-center" href="/#accidentes-del-trabajo"
              >ACCIDENTES DEL TRABAJO</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-sm-center"
              href="/#enfermedades-profesionales"
              >ENFERMEDADES PROFESIONALES</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-sm-center" href="/#costos">COSTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-sm-center" href="/preguntas-frecuentes"
              >Preguntas Frecuentes</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="/#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
