<!DOCTYPE html>
<html>
  <head>
    <title>Accidentes en el trabajo</title>
    <meta name="description" content="Our first page" />
    <meta name="keywords" content="html tutorial template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      rel="stylesheet"
      href="assets/fonts/fontawesome/css/font-awesome.min.css"
    />
  </head>
  <body>
    <%- include('partials/navbar'); %>
    <div class="my-4 container">
      <div
        class="row section-row mb-md-4 section-row-image-after flex-column-reverse flex-md-row"
        id="preguntas-frecuentes"
      >
        <div
          class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
        >
          <h1 class="faq-header">Preguntas Frecuentes</h1>
          <div class="section-row-text-container-body">
            <div class="accordion" id="accordion7">
              <div class="">
                <div class="" id="heading21">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse21"
                      aria-expanded="true"
                      aria-controls="collapse21"
                    >
                      ¿Quién debe hacer la denuncia de una posible enfermedad
                      laboral y en qué plazo?
                    </button>
                  </h2>
                </div>

                <div
                  id="collapse21"
                  class="collapse"
                  aria-labelledby="heading21"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    <p>
                      La entidad empleadora debe denunciar al organismo
                      administrador mediante la Denuncia Individual de
                      Enfermedad Profesional (DIEP) cuando un trabajador
                      manifiesta que padece de una enfermedad o presenta
                      síntomas que, presumiblemente, tienen un origen
                      profesional, a más tardar dentro del plazo de 24 horas y
                      enviar al trabajador/a inmediatamente de conocido el
                      hecho, para su atención, al establecimiento asistencial
                      del respectivo organismo administrador. Allí se le deberán
                      realizar los exámenes y procedimientos que sean necesarios
                      para establecer el origen común o profesional de la
                      enfermedad.
                    </p>
                    <p>
                      Si el empleador no presenta la DIEP, deben hacerlo el
                      trabajador/a, sus derecho- habientes, el Comité Paritario
                      de Higiene y Seguridad de la empresa o el médico que lo
                      atendió. Sin perjuicio de lo señalado, cualquier persona
                      que haya tenido conocimiento de los hechos podrá hacer la
                      denuncia.
                    </p>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading22">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse22"
                      aria-expanded="false"
                      aria-controls="collapse22"
                    >
                      ¿Quién debe pronunciarse sobre el origen común o laboral
                      de una enfermedad denunciada?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapse22"
                  class="collapse"
                  aria-labelledby="heading22"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    <p>
                      El organismo administrador (ISL, IST, ACHS o MUSEG) deberá
                      emitir la correspondiente resolución en cuanto a si la
                      afección del trabajador es de origen común o de origen
                      profesional, la cual deberá notificarse al trabajador y a
                      la entidad empleadora, instruyéndoles las medidas que
                      procedan.
                    </p>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading23">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse23"
                      aria-expanded="false"
                      aria-controls="collapse23"
                    >
                      ¿Puede ver disminuida su remuneración el trabajador
                      afectado por una enfermedad profesional que por tal motivo
                      debe ser cambiado de faena?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapse23"
                  class="collapse"
                  aria-labelledby="heading23"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    <p>
                      Los trabajadores afectados por alguna enfermedad
                      profesional deben ser trasladados, por la empresa donde
                      presten sus servicios, a otras faenas donde no estén
                      expuestos al agente causante de la enfermedad, esto no
                      puede significar un detrimento de sus condiciones
                      remuneratorias, por lo que al trabajador que es trasladado
                      de faena a otra en la que no exista el agente causante de
                      la enfermedad, se le debe mantener sus remuneraciones.
                    </p>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading24">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse24"
                      aria-expanded="false"
                      aria-controls="collapse24"
                    >
                      ¿Está el empleador obligado a dar cuenta de la ocurrencia
                      en su empresa de un accidente del trabajo?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapse24"
                  class="collapse"
                  aria-labelledby="heading24"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    <p>
                      Sí. Debe comunicar inmediatamente de producido todo
                      accidente o enfermedad que pueda ocasionar incapacidad
                      para el trabajo o la muerte de la víctima, aunque crea que
                      se trata de un accidente común.
                    </p>
                    <p>
                      Esta comunicación es por escrito a la mutual de
                      empleadores a la cual esté afiliado o al servicio de salud
                      respectivo, en caso de no estar afiliado a alguna
                      mutualidad.
                    </p>
                    <p>
                      Si el empleador no realiza la denuncia debe hacerlo el
                      mismo accidentado o enfermo, el médico que trató o
                      diagnosticó la lesión o enfermedad, o el Comité Paritario
                      de Higiene y Seguridad.
                    </p>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading25">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse25"
                      aria-expanded="false"
                      aria-controls="collapse25"
                    >
                      ¿Cuántos tipos de accidente de trabajo contempla la
                      legislación en Chile?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapse25"
                  class="collapse"
                  aria-labelledby="heading25"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    <p>
                      Según la ley de accidentes del trabajo, existen los
                      siguientes tipos de accidentes:
                    </p>
                    <p>&check; Los que producen incapacidad temporal.</p>
                    <p>&check; Los que producen invalidez parcial.</p>
                    <p>&check; Los que producen invalidez total.</p>
                    <p>&check; Los que producen gran invalidez.</p>
                    <p>&check; Los que producen la muerte.</p>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading26">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse26"
                      aria-expanded="false"
                      aria-controls="collapse26"
                    >
                      ¿Quién califica que sea accidente de trabajo?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapse26"
                  class="collapse"
                  aria-labelledby="heading26"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    Si es de origen común o del trabajo, le corresponde a la
                    COMPIN, ISAPRES, Unidades de Licencias Médicas, Mutualidades
                    de Empleadores. En última instancia, corresponderá a la
                    Superintendencia de Seguridad Social pronunciarse.
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading27">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse27"
                      aria-expanded="false"
                      aria-controls="collapse27"
                    >
                      ¿Qué se entiende por accidente de trayecto?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapse27"
                  class="collapse"
                  aria-labelledby="heading27"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    Son los accidentes que ocurren en el trayecto directo de ida
                    o regreso entre la habitación y el lugar de trabajo. Cuando
                    el accidente se produce en el trayecto directo entre dos
                    lugares de trabajo, se considera que el siniestro está
                    relacionado con el trabajo al que se dirigía el trabajador.
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading28">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse28"
                      aria-expanded="false"
                      aria-controls="collapse28"
                    >
                      ¿Quién responde por los trabajadores subcontratados en
                      caso de sufrir accidentes de trabajo y/o enfermedades
                      profesionales?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapse28"
                  class="collapse"
                  aria-labelledby="heading28"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    Siendo obligación de la empresa principal proteger
                    eficazmente la vida y salud de los trabajadores del
                    contratista o subcontratista, si por causa del
                    incumplimiento de este deber el trabajador del contratista o
                    subcontratista sufriera un accidente laboral, este podrá
                    demandar directamente a la empresa principal por la
                    reparación de los perjuicios resultantes.
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading50">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse50"
                      aria-expanded="true"
                      aria-controls="collapse50"
                    >
                      ¿Dónde debe ser atendido el trabajador que ha sufrido un
                      accidente laboral cuando el empleador no está afiliado a
                      una mutual?
                    </button>
                  </h2>
                </div>

                <div
                  id="collapse50"
                  class="collapse"
                  aria-labelledby="heading50"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    <p>
                      La administración del seguro social corresponde, por una
                      parte, por las Mutualidades de Empleadores (Asociación
                      Chilena de Seguridad, Mutual de Seguridad de la Cámara
                      Chilena de la Construcción, Instituto de Seguridad del
                      Trabajo) y, por otro lado, por el Instituto de Seguridad
                      Laboral (ISL).La administración del seguro social
                      corresponde, por una parte, por las Mutualidades de
                      Empleadores (Asociación Chilena de Seguridad, Mutual de
                      Seguridad de la Cámara Chilena de la Construcción,
                      Instituto de Seguridad del Trabajo) y, por otro lado, por
                      el Instituto de Seguridad Laboral (ISL).
                    </p>
                    <p>
                      Si el accidente es de riesgo vital, el trabajador debe ser
                      atendido en el centro médico más próximo al lugar del
                      evento; si no lo es, será atendido en un servicio de salud
                      o en una institución con la cual el ISL tenga convenio.
                    </p>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading51">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse51"
                      aria-expanded="true"
                      aria-controls="collapse51"
                    >
                      ¿En qué momento se puede reincorporar el trabajador a sus
                      labores luego de un accidente laboral?
                    </button>
                  </h2>
                </div>

                <div
                  id="collapse51"
                  class="collapse"
                  aria-labelledby="heading51"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    El trabajador solo podrá retomar sus funciones una vez que
                    cuente con el respectivo Certificado de Alta Laboral que
                    debe emitir el ISL o Mutual de Seguridad. En efecto, el
                    empleador no puede obligar al trabajador a reincorporarse
                    sin este documento.
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading52">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse52"
                      aria-expanded="true"
                      aria-controls="collapse52"
                    >
                      ¿En qué consiste el derecho a saber del trabajador
                      respecto de los riesgos inherentes a sus labores?
                    </button>
                  </h2>
                </div>

                <div
                  id="collapse52"
                  class="collapse"
                  aria-labelledby="heading52"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    <p>
                      El empleador obligatoriamente debe informar a sus
                      trabajadores al momento de su contratación, o en casos de
                      iniciar actividades que impliquen riesgos, sobre los
                      siguientes aspectos:
                    </p>
                    <p>&check; Riesgos que implican sus labores</p>
                    <p>&check; Las medidas preventivas y</p>
                    <p>&check; Métodos de trabajo correctos.</p>
                    <p>
                      Los empleadores deben dar cumplimiento a las obligaciones
                      indicadas, a través de los Comités Paritarios de Higiene y
                      Seguridad (CPHS), o en caso de que éstos no existan, se
                      debe proporcionar la información correspondiente en la
                      forma que estime más adecuada y conveniente.
                    </p>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="" id="heading53">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse53"
                      aria-expanded="true"
                      aria-controls="collapse53"
                    >
                      ¿Es obligatorio para el empleador tomar medidas que
                      permitan que el trabajo que se deba realizar sea más
                      seguro?
                    </button>
                  </h2>
                </div>

                <div
                  id="collapse53"
                  class="collapse"
                  aria-labelledby="heading53"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    SÍ. El empleador está obligado a tomar todas las medidas
                    necesarias para proteger eficazmente la vida y salud de los
                    trabajadores, manteniendo las condiciones adecuadas de
                    higiene y seguridad en las faenas, como también los
                    implementos necesarios para prevenir accidentes y
                    enfermedades profesionales. De esta forma la ley ha hecho
                    recaer en el empleador la responsabilidad de evitar la
                    ocurrencia de accidentes en el trabajo debiendo tomar todas
                    las medidas necesarias para ello.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 section-row-image-container">
          <img src="assets/images/preguntas-frecuentes.jpg" />
        </div>
      </div>
    </div>
    <%- include('partials/inlineScripts'); %>
  </body>
</html>
