.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.alert-full {
  margin-bottom: 20px;
  padding: 15px;
  max-width: 100% !important;
  width: 100% !important; }

small.requerido {
  color: #e04c5d; }

span.info {
  font-size: 85%;
  padding: 4px 0;
  color: #555555;
  display: inline-block; }

.contacto-2 input.error, .contacto-2 input.error, .contacto-2 select.error, .contacto-2 textarea.error {
  border-bottom: 1px solid red; }

.contacto-2 div.error {
  border: 1px solid red;
  padding-bottom: 34px; }

.contacto-2 span.error {
  color: red;
  text-align: left;
  font-size: 85%;
  display: block;
  width: auto;
  padding: 4px 0; }

.contacto input.error, .contacto input.error, .contacto select.error, .contacto textarea.error, .registrarse input.error, .registrarse select.error, .registrarse textarea.error, .iniciar-sesion input.error, .recuperar-clave input.error {
  border: 1px solid red; }

.contacto div.error {
  border: 1px solid red;
  padding-bottom: 34px; }

.contacto span.error, .registrarse span.error, .iniciar-sesion span.error, .recuperar-clave span.error {
  color: red;
  text-align: left;
  font-size: 85%;
  display: block;
  width: auto;
  padding: 4px 0; }

#login input.error {
  border: 1px solid red; }

#login span.error {
  color: red;
  text-align: left;
  font-size: .85em;
  display: block;
  margin-left: 10%;
  width: auto;
  position: relative;
  border: none;
  padding: 0;
  margin-bottom: 0; }

.contenido-mensajes, .contenido-mensajes p {
  text-align: center; }
