@charset "UTF-8";
/* montaje html5 y front-end por Rafael Olea contacto@rafaelolea.cl www.rafaelolea.cl */
@import url("font-awesome/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
body {
  font-family: 'Poppins', sans-serif; }

a {
  color: #377DFF; }

a:hover {
  text-decoration: none;
  color: #000; }

p {
  font-weight: 300;
  color: #444;
  font-size: 15px;
  line-height: 24px; }

h2 {
  font-weight: 400;
  color: #000;
  font-size: 20px; }

ul {
  color: #7b7b7b;
  font-weight: 300;
  font-size: 15px; }

.img-thumbnail {
  border: none; }

.clear {
  clear: both; }

/* HEADER */
header {
  padding: 1em; }

.logo a img {
  max-width: 250px;
  padding: 0;
  display: inline-block; }

.logo h1 {
  margin: 0; }

.menu-p {
  margin: 1em 0; }

.menu-contacto {
  display: inline-block;
  margin-left: 1em; }

.btn-volver {
  margin-top: 10px; }

.btn-volver .btn {
  padding: 0 15px 10px 15px; }

.h-header-datos {
  text-align: right;
  padding: 0; }

.h-header-datos p {
  margin: 0;
  font-size: 1em;
  display: inline-block; }

.h-header-datos p a {
  margin-left: 5px;
  color: #000000;
  font-weight: 500; }

.h-header-datos i {
  background: #6CD06A;
  color: #fff;
  padding: 3px 4px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px; }

.h-fono {
  color: #3FA1F4 !important;
  font-weight: 500 !important; }

/* CONTENIDOS GENERAL */
.p-int {
  margin: 4em auto 6em auto; }

.p-int .btn {
  margin: 2em 0; }

.p-int h1 {
  font-weight: 300;
  color: #7b7b7b;
  font-size: 15px;
  line-height: 24px; }

.p-int strong {
  font-weight: 500;
  color: #000; }

.p-int h3 {
  color: #377DFF;
  font-size: 2em;
  margin: 0 0 1em 0; }

.p-int a span {
  color: #FF0402;
  font-size: 10px; }

.p-info1 {
  padding: 3em 7em 2em 7em;
  margin-bottom: 4em;
  min-height: 150px;
  background: #f9f9f9; }

.p-info1 p strong {
  font-size: 1.6em; }

.p-info2 {
  padding: 2em 7em .5em 7em;
  background: #2D95EF;
  margin-bottom: 4em;
  min-height: 150px; }

.p-info2 p {
  color: #fff; }

.p-info2 p a {
  color: #fff;
  display: inline-block;
  font-size: 1.2em; }

.p-info2 p a:hover {
  color: #000; }

.p-info2 p strong {
  font-size: 2em;
  font-weight: 600; }

.p-laempresa {
  margin: 4em 0; }

.p-laempresa h2 {
  margin-top: 4em; }

.p-laempresa p {
  margin: 2em auto; }

.p-laempresa-info h2 {
  color: #377DFF;
  font-size: 6em; }

.p-laempresa-logos {
  margin-top: 4em; }

.p-laempresa-logos img {
  margin-top: 4em;
  max-width: 120px;
  height: auto; }

.p-serv-destacados {
  margin: 2em 0 8em 0; }

.p-serv-destacados-items {
  margin: 4em auto;
  text-align: center; }

.p-serv-destacados-items img {
  max-width: 100px;
  height: auto;
  display: inline-block; }

.p-linea-vert {
  background: url(../images/linea-vertical.jpg) right no-repeat; }

.p-linea-txt {
  min-height: 260px; }

.p-ultimos-trabajos {
  margin: 4em 0; }

.p-clientes-comentarios {
  margin: 4em 0; }

.p-comentarios-items {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 2em;
  margin: 2em .5em; }

.p-comentarios-items i {
  color: #FCC700; }

.p-comentarios-items p {
  color: #444444;
  font-weight: 400; }

.p-comentarios-perfil img {
  float: left;
  margin-right: 1em;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  max-width: 80px; }

.p-comentarios-perfil {
  margin: 20px 0; }

.p-comentarios-perfil h2 {
  margin: 0;
  padding-top: 20px;
  font-size: 1.5em; }

.p-comentarios-perfil h3 {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
  color: #7b7b7b; }

.p-contactar {
  background: url(../dinamicos/contenidos/contactanos.jpg) bottom right no-repeat;
  padding: 0;
  margin: 4em 0 0 0; }

.p-contactar-formulario {
  max-width: 60%;
  margin: 4em auto 0 auto; }

.p-contactar-formulario .btn {
  width: 100%;
  margin: 1em 0; }

.datos-de-contacto {
  margin-top: 3em; }

.datos-de-contacto h2 {
  color: #377dff;
  font-size: 30px; }

.datos-de-contacto p {
  font-size: 18px;
  font-weight: 400; }

.p-cont-formulario {
  margin: 4em auto 0 auto; }

.p-cont-formulario .btn {
  width: 100%;
  margin: 1em 0; }

.ejemplos-tiendaonline {
  background: #eff8fc;
  margin-top: 4em;
  padding: 2em 0;
  display: block; }

.ejemplos-tiendaonline .btn {
  margin: 2em 0; }

.ejemplos-tiendas-web {
  margin: 2em 0 6em 0; }

.ejemplos-tiendas-web img {
  background: #fff;
  margin: 1.2em auto;
  padding: 10px 5px;
  text-align: center;
  height: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1); }

.ejemplos-tiendas-web a {
  margin: 0;
  text-align: center;
  display: block; }

.ejemplos-tiendas-web div {
  margin: 0; }

.ejemplos-tiendas-web p {
  height: 25px; }

.ejemplos-tiendas-web .ejemplo-info {
  padding: 1em; }

.ejemplos-tiendas-web .ejemplo-info h2 {
  color: #000;
  margin: 0;
  font-size: 1.2em; }

.ejemplos-tiendas-web .ejemplo-info pÂ  {
  color: #cccccc; }

.ejemplos-tiendas-web .ejemplo-info-detalle {
  height: 65px; }

.ejemplos-tiendas-web .ejemplo-info-detalle p {
  margin: 0; }

.metodo-trabajo {
  margin: 8em auto;
  max-width: 80%; }

.metodo-trabajo img {
  float: left;
  margin-right: 1em;
  max-width: 70px; }

.metodo-trabajo p {
  color: #000;
  max-width: 80%; }

.metodo-trabajo div {
  margin: 1em 0; }

.metodo-trabajo-items p {
  min-height: 100px; }

.metodo-trabajo-items {
  padding: 4em 0 0 0; }

.telefonos-visual {
  text-align: left;
  max-width: 80%;
  margin: 4em auto;
  display: block; }

.telefonos-visual .table > tbody > tr > td {
  border: none;
  padding: 1em 8em;
  font-size: 1.3em; }

.la-empresa p {
  color: #000; }

.la-empresa img {
  margin: 4em; }

.equipo {
  margin: 4em 0; }

.equipo-item {
  min-height: 170px;
  max-height: 250px;
  text-align: center;
  background: #f8f8f8;
  margin: 15px 0;
  padding: 10px;
  -webkit-box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px; }

.equipo-item img {
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  max-width: 50px; }

.equipo-item h2 {
  margin: 0;
  color: #000000;
  font-size: 1.2em; }

.equipo-item p {
  margin: 0;
  line-height: 20px; }

.equipo-item p strong {
  font-size: .9em;
  margin: 0;
  color: #6C717C; }

.equipo-item p span {
  margin: 0; }

.equipo-item p a {
  margin: 0;
  font-size: .8em;
  display: inline-block;
  color: #33D0B0; }

.equipo-item i {
  font-size: 13px;
  color: #444; }

.empresa-items {
  margin: 4em 0;
  text-align: center; }

.item-laempresa-logos img {
  margin: 1em auto;
  max-width: 150px;
  height: auto; }

.portafolio-detalle-img {
  margin-bottom: 4em; }

.portafolio-detalle-img img {
  background: #f1f1f1;
  padding: 1em; }

.lista-clientes a {
  margin: 1em 0;
  display: block;
  padding: 10px;
  border: 1px solid #f2f2f2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px; }

.horario-atencion {
  margin-bottom: 6em; }

.marca-clientes {
  margin: 2em 1em; }

.paginador {
  margin: 15px 10px;
  padding: 5px;
  font-size: 1em;
  font-weight: 300; }

.paginador ol a {
  font-weight: 400;
  font-size: 1em;
  color: #777; }

.breadcrumb {
  margin-bottom: 0;
  padding: 0; }

.paginador .breadcrumb > li {
  color: #999;
  font-size: .9em; }

.logo-enlaces {
  margin: 2em 0 4em 0; }

.logo-enlaces a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1; }

.logo-enlaces a:hover {
  opacity: .8; }

/* FORMULARIO */
.form-control {
  padding: 15px;
  height: auto; }

.form-control::placeholder {
  color: #ccc; }

.titulo-formulario {
  text-align: center;
  margin: 2em 0 4em 0; }

.titulo-formulario h2 {
  color: #243241;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0; }

.titulo-formulario h3 {
  font-size: 2.5em;
  margin: .3em 0;
  font-weight: 400; }

.titulo-formulario h3 span {
  color: #99CB00; }

.formularios-internos {
  margin: 2em auto 4em auto;
  max-width: 80%; }

.formularios-internos label {
  font-size: 1.4em;
  font-weight: 300;
  margin: .9em 0; }

.formularios-internos label span {
  color: #DD2C2C; }

.formularios-internos .form-control {
  padding: 15px;
  height: 50px; }

.formularios-internos .textarea {
  padding: 15px;
  min-height: 250px; }

.formularios-internos .form-control::placeholder {
  color: #C3C3C3;
  font-size: 1.2em; }

.formularios-internos .btn-formulario {
  margin: 3em 0; }

.formularios-internos .btn {
  font-size: 1.5em;
  font-weight: 300;
  padding: 10px 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 1em 0 0; }

.formularios-internos .form-capcha-valor {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f1f1f1; }

.formularios-internos .form-resultado {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.formularios-internos p {
  font-size: 1em; }

.contacto-comunas {
  text-align: center; }

.contacto-comunas a {
  margin: 10px;
  padding: 5px 8px;
  background: #208CFF;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block; }

.contacto-comunas a:hover {
  background: #22189C; }

/* TÃTULOS */
.titulo1 {
  margin-bottom: 2em; }

.titulo1 h1 {
  color: #000;
  font-weight: 300;
  text-align: center; }

.titulo1 h1 span {
  color: #377DFF;
  display: block;
  font-weight: 600; }

.titulo1 h2 {
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 1em;
  color: #777;
  text-align: center; }

.titulo2 {
  text-align: center;
  margin: 2em 0; }

.titulo2 h2 {
  color: #000;
  font-size: 2em;
  font-weight: 300;
  margin: 0; }

.titulo2 h2 span {
  color: #377DFF; }

.titulo2 p {
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 1em;
  color: #777;
  margin: 0 auto;
  text-transform: uppercase; }

.titulo-left {
  text-align: left;
  margin: 2em 0; }

.titulo-left h2 {
  color: #000;
  font-size: 2em;
  font-weight: 300;
  margin: 0; }

.titulo-left h2 span {
  color: #377DFF;
  font-weight: 500;
  display: inline-block; }

/* MENÃš */
.menu-p {
  background: #fff; }

.nav {
  font-size: 1em; }

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  min-height: 40px; }

.glyphicon {
  color: #7b7d7d; }

.glyphicon:hover {
  color: #ddd; }

.buscador-lupa:hover {
  background: #ddd;
  border-color: #ccc; }

/* POPUP */
.pop-info {
  margin: 1em; }

.pop-gral h4 {
  margin: 0;
  padding: 0; }

.popup img {
  text-align: center;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.popup form {
  width: 60%;
  margin: 0 auto; }

.popup .btn-primary {
  display: block;
  margin: 0 auto; }

.modal-header {
  background: none; }

.panel-title {
  font-size: 1em;
  color: #0050AD; }

.panel-body h2 {
  font-size: 1em;
  font-weight: bold; }

/* MENÃš IZQUIERDO */
.panel-danger {
  border-color: #fff;
  background: #FAFAFA; }

.panel-heading h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0;
  color: #fff; }

.panel-danger > .panel-heading {
  background: #4E52A5;
  border-color: #fff;
  padding: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.list-group-item {
  padding: 12px 10px;
  background: #fff;
  border: none; }

.list-group-item:hover {
  background: #eee; }

.list-group-item.active {
  background: #06C1DC; }

.list-group-item.active:hover {
  background: #4E52A5;
  border-color: #4E52A5; }

.panel-title > a {
  color: #000;
  font-size: 1.3em;
  font-weight: 300;
  display: block; }

.panel-title > a:hover {
  text-decoration: none; }

.panel-title > a span {
  color: #377DFF;
  display: block;
  float: right; }

.panel-default > .panel-heading:hover {
  background: #fff; }

.panel-default {
  border-color: #fff; }

/* FOOTER */
#footer {
  background: url(../images/back-footer.jpg);
  padding: 4em 0 8em 0;
  color: #fff; }

#footer a {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  line-height: 28px; }

#footer a:hover {
  color: #38BAFF; }

#footer p {
  color: #fff;
  line-height: normal;
  font-size: 1em;
  margin: 0; }

#footer h3 {
  margin: 0 0 2em 0;
  font-size: 1.2em;
  font-weight: 300; }

.f-logo {
  max-width: 230px;
  height: auto;
  margin-bottom: 2em; }

.f-items p {
  display: flex;
  justify-content: space-between; }

.f-cont a {
  display: block; }

.f-visual p {
  max-width: 100%; }

.f-right {
  margin-top: 7em; }

.f-right a {
  margin: 0 1em; }

.f-redes {
  margin-bottom: 2em; }

.f-redes img {
  max-width: 30px;
  height: auto;
  margin: 0 7px 0 0; }

.f-links {
  margin-right: 60px; }

.f-links i {
  background: #6CD06A;
  color: #fff;
  padding: 4px 4px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px; }

.menu-responsive {
  display: none; }

.btn-c {
  text-align: center;
  display: block;
  margin-bottom: 2em; }

/* SUB-MENU */
.dropdown-menu {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.dropdown-menu > li > a {
  color: #666; }

.dropdown-menu > li > a:hover {
  color: #000; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px; }

.mapa iframe {
  width: 100%;
  max-height: 700px;
  margin: 1em 0 0 0; }

/* PestaÃ±as */
.tablitas {
  padding: 0;
  margin: 0 auto; }

.tablitas .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #444;
  color: #fff; }

.tablitas .nav-tabs > li.active > a:hover {
  background: #000;
  color: #f8f8f8;
  font-weight: 300; }

.tablitas .nav > li > a {
  padding: 17px 15px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  background: #013D7B;
  color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.tablitas .nav > li > a:hover {
  color: #fff;
  background: #000; }

.tablitas .nav > li > a img {
  margin-right: 8px; }

/* TAB DETALLE PRODUCTO */
.tablitas2 {
  padding: 0;
  margin: 0 auto; }

.tablitas2 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #ffffff;
  color: #377DFF; }

.tablitas2 .nav > li.active > a {
  border: none; }

.tablitas2 ul {
  margin: 0; }

.tablitas2 ul li {
  margin: 0; }

.tablitas2 .nav > li > a {
  padding: 17px 15px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  background: #ffffff;
  color: #7F7F7F; }

.tablitas2 .nav > li > a img {
  margin-right: 8px; }

.tablitas2 .tab-content {
  border-left: none;
  border-right: none;
  border-bottom: none; }

.nav-center {
  width: 100%;
  text-align: center; }

.nav-center > li {
  float: none;
  display: inline-block; }

.nav-tabs > li.active > a {
  border: none; }

.nav-tabs > li.active > a:hover {
  border-top: none; }

.nav-tabs > li > a:hover {
  border: none; }

.nav-tabs > li > a {
  margin-right: 0; }

/* PRECIOS */
.precios-visual {
  margin: 4em 0 3em 0; }

.precios-visual table td span {
  color: #FF0402;
  font-size: 10px; }

.precios-visual table td img {
  max-width: 60px;
  margin: 10px;
  display: block; }

.precios-visual .v-servidor {
  font-size: 15px;
  font-weight: 600;
  color: #125FC8; }

.precios-visual .table-hover > tbody > tr:hover {
  background-color: #f1f1f1; }

.precios-visual thead {
  background: #125FC8;
  color: #fff; }

/* MENU ACORDEON */
.panel {
  font-size: 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0;
  margin-top: 1em; }

.preg-frecuentes {
  max-width: 80%;
  margin: 4em auto; }

.preg-frecuentes span i {
  float: right;
  font-size: 13px; }

.preg-frecuentes .panel-default > .panel-heading {
  border: 1px solid #ddd;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.preg-frecuentes .panel-default > .panel-headin:hover {
  background: #ddd; }

.preg-frecuentes .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top-color: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* swiper carrusel */
.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.error-404 {
  text-align: center; }

.error-404 img {
  margin: 0 auto; }

/* <<<<<<<<<<< MEDIA QUERIES >>>>>>>>>> */
@media only screen and (max-width: 1430px) {
  .titulo2 p {
    height: 50px; }
  .p-linea-txt {
    min-height: 310px; } }

@media only screen and (max-width: 1300px) {
  .equipo-item {
    min-height: 220px; }
  .equipo-item p a {
    font-size: 11px; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .m-contacto {
    margin-bottom: 1em; }
  .m-contacto img {
    margin: 0 auto; }
  .metodo-trabajo img {
    max-width: 30px; }
  .metodo-trabajo p {
    font-size: 1em;
    line-height: inherit; }
  .telefonos-visual .table > tbody > tr > td {
    padding: 1em 5em; }
  .f-links {
    margin-right: 0; }
  .p-linea-txt {
    min-height: 450px; }
  .logo a img {
    max-width: 240px; } }

@media only screen and (max-width: 991px) {
  .h-header-datos {
    text-align: center;
    margin-top: 20px; }
  .p-laempresa h2 {
    margin-top: 0; }
  .p-laempresa img {
    margin-bottom: 2em; }
  .logo {
    text-align: center; }
  .nav {
    width: 100%; }
  .navbar-header {
    background: #f1f1f1; }
  .navbar-header h2 {
    color: #000;
    display: inline-block;
    margin: 1.2em 1em;
    font-size: 15px; }
  .navbar-toggle {
    background: #2D95EF; }
  .ttmenu .navbar-default .navbar-toggle {
    margin-top: 10px !important; }
  .menu-izq {
    display: none; }
  .menu-responsive {
    display: block;
    text-align: center; }
  .menu-datos {
    width: auto; }
  .m-contacto {
    margin-bottom: 1em; }
  .ttmenu .navbar-default .nav ul {
    margin: 10px; }
  .ttmenu .navbar-default .dropdown-menu h2 {
    display: block;
    margin: 10px; }
  .m-contacto img {
    margin: 0 auto 10px auto;
    width: 100%; }
  .lista-clientes a {
    text-align: center; }
  .lista-clientes a img {
    text-align: center;
    margin: 0 auto; }
  .metodo-trabajo div {
    height: auto;
    margin: 2em 0 0 0; }
  .metodo-trabajo img {
    max-width: 30px; }
  .metodo-trabajo p {
    max-width: 100%; }
  .metodo-trabajo-items p {
    min-height: auto; }
  .telefonos-visual .table > tbody > tr > td {
    padding: 1em 3em; }
  .item-laempresa-logos img {
    margin: 0 auto;
    width: 100%; }
  #footer p {
    font-size: 1em;
    margin: 8px 0; }
  .f-cont a {
    margin: 8px 0; }
  .f-f {
    margin-top: 2em; }
  .f-links {
    margin-right: 0; }
  .p-laempresa {
    text-align: center; }
  .p-laempresa-logos img {
    margin: 0 auto; }
  .p-laempresa-info h2 {
    font-size: 4em;
    text-align: center;
    margin: 0 auto;
    display: block; }
  .p-laempresa-info p {
    text-align: center; }
  .p-serv-destacados-items {
    max-width: 100%; }
  .p-contactar-formulario {
    max-width: 80%; }
  .p-linea-vert, .p-linea-vert2 {
    background: none;
    margin: 3em 0; }
  .formularios-internos .btn {
    padding: 10px 30px; }
  .equipo-item {
    min-height: 150px; }
  .titulo1 {
    margin-bottom: 4em; }
  .titulo2 p {
    height: auto; }
  .p-linea-txt {
    min-height: 280px; } }

@media only screen and (max-width: 766px) {
  p {
    font-weight: 400;
    color: #7b7b7b;
    font-size: 15px;
    line-height: 24px; }
  .m-menu {
    padding: 0; }
  .menu-p {
    margin: 20px 0 0 0; }
  .navbar {
    border-radius: 0;
    margin-bottom: 0; }
  .nav-mombre {
    display: block;
    padding: 1em 2em;
    font-weight: bold;
    color: #fff; }
  .navbar-default .navbar-toggle {
    border: none; }
  .navbar-default .navbar-nav > li > a {
    font-size: 15px !important; }
  .p-info1, .p-info2 {
    padding: 2em;
    margin-bottom: 0;
    text-align: center; }
  .tablitas2 ul li {
    display: block; }
  .telefonos-visual {
    margin: 4em auto; }
  .telefonos-visual .table > tbody > tr > td {
    padding: 1em .5em;
    font-size: .9em; }
  .telefonos-visual .table > tbody > tr {
    text-align: center; }
  .empresa-items img {
    max-width: 80px;
    height: auto; }
  .ejemplos-tiendas-web {
    margin: 2em 0; }
  #footer h3 {
    margin: 0 0 8px 0; }
  #footer .f-right a {
    display: inline-block; }
  .p-contactar-formulario {
    max-width: 100%; }
  .panel-title > a {
    max-width: 95%; }
  .panel-title > a span {
    margin: 5px; }
  .menu-contacto {
    margin-top: 10px; }
  .equipo-item {
    min-height: auto; }
  .p-linea-txt {
    min-height: auto; } }

@media only screen and (max-width: 480px) {
  .p-int {
    margin: 0 auto 6em auto; }
  .logo a img {
    max-width: 100%;
    margin-bottom: 1em; }
  .formularios-internos {
    margin: 2em auto;
    max-width: 100%; }
  .formularios-internos label {
    font-weight: 400; }
  .formularios-internos .btn {
    padding: 10px 30px; }
  .horario-atencion {
    margin-bottom: 0; }
  #footer {
    background: url(../images/back-footer-mini.jpg) center top; }
  #footer p {
    font-size: .9em; }
  #footer a {
    font-size: .9em;
    line-height: 22px; }
  .formularios-internos .textarea {
    min-height: 100px; }
  .panel-title > a {
    font-size: 1.2em;
    font-weight: 500; }
  .nav-tabs > li {
    float: none; }
  .nav-tabs > li {
    margin-bottom: 0; }
  .navbar-brand {
    padding: 20px; }
  .nav-tabs > li.active > a {
    border: none; }
  .menu-contacto {
    margin-left: 0; }
  .telefonos-visual {
    margin: 4em 0;
    text-align: center;
    display: inline; }
  .f-items p a {
    font-size: 1em; }
  .f-visual p {
    max-width: 100%; }
  .f-right {
    margin-top: 2em;
    margin-bottom: 4em;
    text-align: center; }
  .f-right a {
    margin: 0 .5em; }
  .p-linea-vert {
    background: none; }
  .p-serv-destacados-items img {
    margin-top: 1em; }
  .preg-frecuentes {
    max-width: 100%; }
  .p-contactar {
    background: url(../dinamicos/contenidos/contactanos-mini.jpg) top right no-repeat; } }

/* Efectos animaciÃ³n imÃ¡genes */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.04);
  transform: scale(1.04); }

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95); }
