$primary: #2d95ef;
$danger: green;
$secondary: #777;

@import "./node_modules/bootstrap/scss/bootstrap";

body {
}

.subheader {
  color: $secondary;
}

.carousel-item {
  em {
    color: $primary;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
  }
}

.services-item {
  padding: 0 1.5rem;
  margin: 1rem 0;
  & > img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
  }

  &:not(:last-child) {
    border-right: 1px gray solid;
  }
}
.section-header { 
  font-weight: 300;
  em {
    font-style: normal;
    color: $primary;
    font-weight: 500;
  };
}
.section-row {
  img {
    border-radius: 1rem;
    object-fit: contain;
    width: 100%;
  }
}