@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/custom";
@import "icon-fonts";
@import "mixins/custom-mixins";

// components
@import "components/mouse-scroll";

@import "components/testimonial";
@import "components/pricing";
@import "components/features";
@import "components/team";
@import "components/cover";
@import "components/forms";
@import "components/portfolio";
@import "components/blog";
@import "components/loader";

html {
	overflow-x: hidden;
	font-size: 1em;
}
body {
	font-family: $font-family-sans-serif;
}
input, textarea, p {
	font-weight: $font-weight-normal;
}
// selection
::selection {
  background: $black; 
  color: $white;
}
::-moz-selection {
  background: $black; 
  color: $white;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 800!important;
}
a {
	transition: .3s all ease;
}

// bg
.bg_image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.with-overlay {
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		background: rgba($black,.4);
	}
}

@import "components/header";

.practice-area-picture-container {
	height: 400px;
	// background-color: blue;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.area-managers {
	h2 {
		font-size: 26px;
	}
	.manager-name {
		font-weight: 400;
		font-size: 20px;
		color: #565555;
	}
}

// border-top
.heading-border-top {
	position: relative;
	padding-top: 30px;
	&:before {
		position: absolute;
		top: 0;
		height: 2px;
		width: 50px;
		content: "";
		background: theme-color('primary');
	}
	&.light {
		&:before {
			background: rgba($white, .7)!important;
		}	
	}
}
.text-center {
	.heading-border-top {
		&:before {
			left: 50%;
			transform: translateX(-50%);
		}
		&.light {
			&:before {
				background: rgba($white, .7)!important;
			}	
		}
	}		
}

.hero-image {
	object-fit: cover;
	@include media-breakpoint-up(sm) {
		max-width: 50%;
	}
}

#section-home {
	margin-top: 1rem;
	@include media-breakpoint-up(sm) {
		margin-top: 8rem;
	}
}

.title-centered {
	text-align: center;
	margin-bottom: 45px;
}
// sections
.pb_section {
	padding: 4em 0;
	position: relative;
	display: block;
	@include media-breakpoint-down(md) {
		padding: 1em 0;
	}
	&.bg-light {
		color: #565555;
	}
	&.pb_bg-half {
		&:before {
			top: 50%;
			content: "";
			background: $gray-100;
			bottom: 0%;
			width: 100%;
			left: 0;
			position: absolute;
 		}
	}
}

.with-absolute-bg {
	position: relative;
	.bg-absolute {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.blur-2px {
	filter: blur(2px);
}

.about-us-section {
	padding-bottom: 12em;
}

// images absolute
.images {
	position: relative;
	.img2 {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 500px;
		box-shadow: -17px 10px 34px -18px rgba(0,0,0,0.5);
		@include media-breakpoint-down(sm) {
			position: relative;
			left: inherit!important;
			top: inherit!important;
			max-width: 100%;
		}
	}
	&.right {
		.img1 {
			position: relative;
			z-index: 2;
			box-shadow: -17px 10px 34px -18px rgba(0,0,0,0.5);
		}
		.img2 {
			position: absolute;
			top: 50%;
			left: -40%;
			z-index: 1;
			max-width: 500px;
			@include media-breakpoint-down(sm) {
				position: relative;
				left: inherit!important;
				top: inherit!important;
				max-width: 100%;
			}
		}
	}
}	

// testimonial
.pb_testimonial_v1 {
	.media {
		@include media-breakpoint-down(sm) {
			display: block!important;
		}
		img {
			max-width: 200px;
			@include media-breakpoint-down(sm) {
				margin: 0 auto 20px auto!important;
			}
		}
		.media-body {
			@include media-breakpoint-down(sm) {
				width: 100%;
				text-align: center;
			}
		}
		blockquote {
			font-style: italic;
			
			p {
				color: $gray-900;
				
				font-size: 18px;
				cite {
					display: block;
					font-size: $font-size-base;
					font-style: normal;
				}
				&.pb_author {
					font-style: normal;
					color: $gray-600;
					// font-size: 15px;
				}
			}
		}
	}
}


// footer
.pb_footer {
	padding: 5em 0;
	.list-unstyled {
		li {
			margin-bottom: 10px;
			line-height: 1.5;
		}
	}
	&.bg-black {
		background: $black;
	}
}

// cards
.pb_card_v1 {
	border: none;
	.card-subtitle {
		color: $gray-600;
	}
	.card-img-top {
		margin-top: 30px;
	}
}
.pb_card_v2 {
	.icon {
		i {
			&:before {
				font-size: 50px;
				margin: 0;
				padding: 0;
				color: theme-color('secondary');
			}
		}
	}
	.card-body {
		padding-top: 0;
		h4 {
			margin-top: 0;
			font-size: 16px;
		}
	}
}


// image zoom
.pb_hover-zoom {
	position: relative;
	display: block;
	overflow: hidden;
	img {
		transition: .3s all ease;
		transform: scale(1.1);
	}
	&:before {
		position: absolute;
		transition: .3s all ease;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		z-index: 1;
		height: 100%;
		background: rgba(0,0,0,.6);
		opacity: 0;
		visibility: hidden;
	}
	.icon {
		font-size: 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		color: $white!important;
		z-index: 1;
		margin-top: 20px;
		opacity: 0;
		visibility: hidden;
		transition: .2s all ease-out;
	}
	&:hover {
		outline: none;
		.icon {
			margin-top: 0;
			opacity: 1;
			visibility: visible;
		}
		&:before {
			opacity: 1;
			visibility: visible;
		}
		img {
			transform: scale(1.0);
		}

	}
}

// half
.pb_half {
	width: 50%;
	float: left;
	@include media-breakpoint-down(md) {
		width: 100%;
		float: none;
		&#map {
			height: 300px;
		}
	}
}

// collapse
.pb_accordion {
	.item {
		> a {
			display: block;
			border-bottom: 1px solid $gray-200;	
			padding: 10px 0;
			position: relative;
			color: $gray-700;
			&:after {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				@include Ionicons;
				content: "\f2c7";
			}
			&[aria-expanded="true"] {
				color: theme-color('primary');
				border-bottom: 1px solid transparent;	
				&:after {
					content: "\f2f4";
				}
			}
		}
		> div {
			*:last-child {
				margin-bottom: 0;
			}	
		}
	}
}

// contact details
.pb_contact_details_v1 {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		padding: 0;
		margin: 0 0 1em 0;
		color: $gray-900;
		span {
			display: block;
			font-size: 14px;
			color: $gray-500;
		}
	}
}

// slick style
.slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 9;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	cursor: pointer;
	color: $black;
	@include media-breakpoint-down(sm) {
		display: none!important;
	}
	&.prev {
		left: 20px;
	}
	&.next {
		right: 20px;
	}
	i {
		font-size: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}
.slick-dots {
	position: absolute;
	bottom: -40px;
	z-index: 1;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	li {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		button {
	    border: 0;
	    background: transparent;
	    display: block;
	    height: 20px;
	    width: 20px;
	    outline: none;
	    line-height: 0px;
	    font-size: 0px;
	    color: transparent;
	    padding: 5px;
	    cursor: pointer;
	    position: relative;
	    &:before {
				width: 7px;
				height: 7px;
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				background: rgba(0,0,0, .2);
				border-radius: 50%;
				transform: translateX(-50%) translateY(-50%);
				transition: .3s all ease-out;
	    }
	    &:hover, &:focus {
	      outline: none; 
	      &:before {
	      	background: rgba(0,0,0, .7);
	      }
	    }
		}
		&.slick-active button {
		  &:before {
      	background: rgba(0,0,0, .7);
      }
		}
	}
}

//media or features
.pb_media_v1,
.pb_media_v2 {
	> .icon {
		width: 80px;
		height: 80px;
		position: relative;
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			&.flaticon {
				top: 48%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				&:before {
					font-size: 46px;
					margin: 0;
					padding: 0;
				}
			}
		}
	}
	h3 {
		color: $gray-900;
	}
}

// icons 
.pb_icon_v1 {
	i {
		&.flaticon {
			&:before {
				font-size: 80px; 
				margin: 0;
				padding: 0;
			}	
		}
	}
}

// slides
.pb_slide_v1 {
	.link-block {
		display: block;
		position: relative;
		color: $cyan;
		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba($black, .05);
		}
		.slide-text {
			position: absolute;
			z-index: 10;
			bottom: 20px;
			left: 20px;
			h2 {
				font-size: 24px;
				font-weight: 400;
				color: $white;
				margin-bottom: 0;
			}
			*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.pb_slide_v2 {
	.slick-slide {
		padding: 10px;
		position: relative;
	}
	&.slider-nav {
		.slick-slide {
			margin: 10px;
			padding: 0;
			transition: .3s all ease-out;
			border: 2px solid transparent;
			.pb_card_v2 {
				background: none;
			}
			&.slick-current {
			
				.pb_card_v2 {
					background: none;
				}
				.icon {
					i {
						&:before {
							transition: .3s all ease-out;
							color: theme-color('success');
						}
					}
				}
			}
		}
	}
	.slide_content {
		background: $white;
		box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.15);
		> .pb_content-media {
			@extend .bg_image;
			@include media-breakpoint-down(md) {
				height: 350px;
			}
		}
		> .pb_content-media, .slide_content-text {
			width: 50%;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
		.slide_content-text {
			padding: 50px;
			@include media-breakpoint-down(md) {
				padding: 20px;
			}
		}
	}
	.slick-arrow {
		@include media-breakpoint-down(md) {
			display: none;
		}
		&.prev {
			left: -50px;
		}
		&.next {
			right: -50px;
		}
	}
}

// hidden
.overflow-hidden {
	overflow: hidden;
}

.fa,
  .fas {
    font-family: 'FontAwesome';
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
		color: #1d82ff
  }
  
  .right-0 {
    right: 0;
  }
  
  .top-0 {
    top: 0;
  }
  
  .h-100 {
    height: 100%;
  }
  
  a.text-secondary:focus,
  a.text-secondary:hover {
    text-decoration: none;
    color: #22343e;
  }
  
  #accordion .fa-plus {
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  
  #accordion a[aria-expanded=true] .fa-plus {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

	.cd-container { width: 90%; max-width: 768px; margin: 2em auto; }
.cd-container::after { /* clearfix */ content: ''; display: table; clear: both; }
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 100px; right: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* image replacement properties */ overflow: hidden; text-indent: 100%; white-space: nowrap; background: #377DFF url(../img/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0; -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s; transition: opacity .3s 0s, visibility 0s .3s; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; z-index: 100; }
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover { -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s; transition: opacity .3s 0s, visibility 0s 0s; }
.cd-top.cd-is-visible { /* the button becomes visible */ visibility: visible; opacity: 1; }
.cd-top.cd-fade-out { /* if the user keeps scrolling down, the button is out of focus and becomes less visible */ opacity: .5; }
.no-touch .cd-top:hover { background-color: #e86256; opacity: 1; }
@media only screen and (min-width: 768px) { .cd-top { right: 20px; bottom: 100px; } }
@media only screen and (min-width: 1024px) { .cd-top { height: 40px; width: 40px; right: 20px; bottom: 100px; } }


	// @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

	// .hero {
	// 		padding: 0;
	// 		position: relative;
	// 		font-family: 'Poppins', sans-serif;
	// }
	
	// /* MENU VERTICAL */
	
	// #vertical .navbar-brand {
	// 		width: 240px;
	// }
	// #vertical .ttmenu-full.open {
	// 		max-width: 100%;
	// 		width: 800px !important;
	// 		position: absolute;
	// }
	// #vertical .navbar-default,
	// #vertical .navbar-default .nav,
	// #vertical .navbar-default .collapse,
	// #vertical .navbar-default .dropup,
	// #vertical .navbar-default .dropdown {
	// 		position: static;
	// 		width: 240px !important;
	// 		left:0;
	// }
	// #vertical .navbar-collapse {
	// 		padding: 0
	// }
	// #vertical .navbar-default .navbar-nav li .vertical-menu {
	// 		opacity: 1;
	// 		position: absolute;
	// 		left: 240px !important;
	// 		right: 0 !important;
	// 		top:auto;
	// 		margin-top: -65px !important;
	// 		max-width: 900px;
	// 		padding:0;
	// }
	
	// #vertical .navbar-default .navbar-nav li .vertical-dropdown-menu {
	// 		opacity: 1;
	// 		position: absolute;
	// 		left: 240px !important;
	// 		right: 0 !important;
	// 		top:auto;
	// 		margin-top: -65px !important;
	// 		max-width: 240px;
	// 		padding:0;
	// }
	// #vertical .navbar-default .navbar-nav li .dropdown {
	// 		width: 240px !important
	// }
	// #vertical .navbar-default .navbar-nav li ul {
	// 		width: 100% !important
	// }
	// #vertical .dropdown-menu, 
	// #vertical .navbar-default .ttmenu-content {
	// 		padding:20px;
	// }
	// #vertical .nav-pills {
	// 		max-width: 200px;
	// }
	// #vertical .dropme:after{
	// 		content: "\f105";
	// 		color:#fff;
	// 		position: absolute;
	// 		right: 20px;
	// 		padding-left: 5px;
	// 		font-family: 'FontAwesome';
	// }
	
	// /* MENU DEFAULT */
	
	// .ttmenu .navbar-default {
	// 	border:0;
	// 	width: 100% !important;
	// 	border-radius: 0;
	// }
	// .ttmenu .navbar-default .dropdown-menu {
	// 	border:0;
	// }
	// .ttmenu .navbar-default .dropdown-menu h2 {color: #377DFF;}
	// .ttmenu .navbar-default .dropdown-menu,
	// .ttmenu .navbar-default .dropdown-menu li a {
	// 		color:#282828;
	// 	list-style:none;
	// 		background-color: transparent !important;
	// }
	// .white-style .navbar-brand i {
	// 		color:#ffffff !important;
	// }
	// .ttmenu .navbar-default .navbar-toggle span {
	// 	color:#fff !important;
	// 	background:#fff !important;
	// }
	// .ttmenu .navbar-default .navbar-toggle {
	// 	border-color:#111;
	// 	color:#fff !important;
	// 	margin-top:15px;
	// }
	// .ttmenu .navbar ul {
	// 	padding-left:0;
	// 	list-style:none;
	
	// }
	// .ttmenu .navbar-default .nav ul {background: #fff;}
	// .ttmenu .navbar-brand {
	// 		color: #fff !important;
	// 		float: left;
	// 		font-size: 15px;
	// 		height:auto;
	// 	background:#303030;
	// 		line-height: auto;
	// 		position: relative;
	// 		text-align: center;
	// 		top: 0;
	// 		width:auto;
	// 		padding-bottom: 10px;
	// }
	// .ttmenu .navbar-collapse {
	// 		border-bottom: 0  !important;
	// }
	// .ttmenu .navbar-default .navbar-nav > li > .dropdown-menu {
	// 		margin-top:10px; border-top: 4px solid #2D95EF;
	// }
	// .ttmenu .navbar-default .nav,
	// .ttmenu .navbar-default .collapse,
	// .ttmenu .navbar-default .dropup,
	// .ttmenu .navbar-default .dropdown {
	// 		position: static;
	// }
	// .ttmenu .navbar-default .container {
	// 		position: relative;
	// }
	// .ttmenu .navbar-default .dropdown-menu {
	// 		left: auto;
	// 		background-color: #ffffff !important
	// }
	// .ttmenu-content .box li,
	// .ttmenu .navbar-default .dropdown-menu li a {
	// 	text-decoration:none !important;
	// }
	// .ttmenu .navbar-default .dropdown-menu li a:hover {color: #1A9DFC !important;}
	// .ttmenu .navbar-default .dropdown-menu,
	// .ttmenu-content .dropdown-menu {
	// 	padding:0 !important
	// }
	// .navbar-default .navbar-nav > li > a {
	// 		padding-bottom: 10px;
	// 		padding-top: 10px;
	// 		padding-left: 7px;
	// 		padding-right: 7px;
	// 		font-size: 15px;
	// 	height:auto;
	// 		font-style: normal;
	// 	color:#444 !important;
	// 		font-weight: 400;
	// 		letter-spacing: 1px;
	// }
	// .navbar-default .dropdown-menu li a  {
	// 		color: #282828;
	// 		font-size: 13px;
	// 		font-weight: 400;
	// 		padding: 0 !important;
	// 		position: relative;
	// 	text-decoration:none;
	// 		text-transform: none;
	// }
	// .ttmenu .navbar-default li .widget a {
	// 	padding:0 !important;
	// }
	// .ttmenu-content .box li a{
	// 		color: #282828;
	// 		font-size: 14px;
	// 	border-bottom:none;
	// 	border-bottom:0 !important;
	// 		font-weight: 300;
	// 		padding: 0 !important;
	// 		position: relative;
	// 	text-decoration:none;
	// 		text-transform: none;
	// }
	// .ttmenu .dropdown-menu,
	// .ttmenu .navbar-default .ttmenu-content {
	// 		padding:0;
	// }
	// .ttmenu .navbar-default .ttmenu-full .dropdown-menu {
	// 		left: 0;
	// 		right: 0;
	// }
	// .ttmenu .nav li span.label {
	// 	color:#fff !important;
	// 	 margin-left: 5px;
	// 		margin-top: 2px !important;
	// 		padding: 5px 10px;
	// }
	// .ttmenu .navbar-default .navbar-nav > .active > a,
	// .ttmenu .navbar-default .navbar-nav > .active > a:hover,
	// .ttmenu .navbar-default .navbar-nav > .active > a:focus {
	// 		background-color: transparent;
	// }
	// .ttmenu-content .widget {
	// 		padding:0;
	// 		margin:0;
	// }
	// .ttmenu-content,
	// .ttmenu-content .widget,
	// .ttmenu-content .widget .thumb {
	// 		position: relative;
	// }
	// .ttmenu-content .widget .title h4 {
	// 		font-size:14px;
	// 		text-transform: uppercase;
	// 		font-weight: 400;
	// }
	// .ttmenu-content .box li {
	// 		border-bottom: 1px solid #ededed;
	// 		position: relative;
	// 	padding:8px 0;
	// }
	// .ttmenu-content .box li i {
	// 		right:0;
	// 		clear: both;
	// 		top:10px;
	// 		display:block;
	// 		position:absolute;
	// }
	// .dropme:after{
	// 		content: "\f107";
	// 		color:#7B7B7B;
	// 		padding-left: 5px;
	// 		font-family: 'FontAwesome';
	// }
	// .dropme-left:after{
	// 		content: "\f105";
	// 		color:#1a1a1a;
	// 		font-family: 'FontAwesome';
	// 		display:block;
	// 	right:10px;
	// 		width:0;
	// 	position:absolute;
	// 		height:0;
	// 	top:13px;
	// 		margin-top:0;
	// 		margin-right:10px;
	// }
	// .navbar-default .dropdown-menu li:last-child,
	// .ttmenu-content .box li:last-child {
	// 		border-bottom:0 solid #fff;
	// }
	// .box p {
	// 		color:#1a1a1a;
	// 		font-weight: 400;
	// 		padding-top:10px;
	// 		font-size:13px;
	// }
	// .box h4 {
	// 		color:#ff7f00;
	// 		font-weight: bold;
	// 		font-size:14px;
	// }
	// .box ul li span {
	// 	float:right;
	// }
	
	// .navbar-brand {padding: 10px 15px;}
	// /* MENU SEARCH */
	
	// .searchbox {
	// 		bottom: 0;
	// 		float: right;
	// 		line-height: 65px;
	// 		min-width: 65px;
	// 		overflow: hidden;
	// 		position: relative;
	// 		background: #222;
	// 		right: 0;
	// 		width:0;
	// 		-webkit-transition: width 0.3s;
	// 		-moz-transition: width 0.3s;
	// 		-ms-transition: width 0.3s;
	// 		-o-transition: width 0.3s;
	// 		transition: width 0.3s;
	// }
	// .searchbox-input{
	// 		top:0;
	// 		right:0;
	// 		border:0;
	// 		outline:0;
	// 		background:#333;
	// 		width:100%;
	// 		line-height: 65px;
	// 		height:65px;
	// 		margin:0;
	// 		padding:1px 65px 0px 20px;
	// 		font-size:12px;
	// }
	// .searchbox-icon,
	// .searchbox-submit{
	// 		width:65px;
	// 		height:65px;
	// 		display:block;
	// 		position:absolute;
	// 		top:0;
	// 		bottom:0;
	// 		font-size:18px;
	// 		right:0;
	// 		padding:0;
	// 		margin:0;
	// 		border:0;
	// 		outline:0;
	// 		line-height:65px;
	// 		text-align:center;
	// 		cursor:pointer;
	// 		color:#fff;
	// 		background:#000;
	// }
	// .ttmenu input[type="search"] {
	// 		color:#fff;
	// }
	// .searchbox-open{
	// 		width:100%;
	// }
	
	// /* MENU FORM */
	
	// .ttmenu .form-control {
	// 		background-color: #f9f9f9;
	// 		border: 1px solid #f5f5f5;
	// 		border-radius: 0;
	// 		box-shadow: none;
	// 		font-size:12px;
	// 		height: 35px;
	// 		margin-bottom: 10px;
	// }
	// .ttmenu textarea {
	// 		height: 140px !important
	// }
	
	// /* MENU IMAGE HOVER */
	
	// .ttmenu .entry {
	// 	position:relative;
	// 	overflow:hidden;
	// 	margin-bottom:0;
	// }
	// .ttmenu .entry img {
	// 	width:100%;
	// }
	// .ttmenu .magnifier {
	// 	background:rgba(0,0,0,.9) url(images/magnifier.png) no-repeat center;
	// 	position:absolute;
	// 	top:0;
	// 	left:0;
	// 	bottom:0;
	// 	right:0;
	// 	zoom: 1;
	// 	filter: alpha(opacity=0);
	// 	opacity: 0;
	// 	-webkit-transition:all .3s ease-in-out;
	// 	-moz-transition:all .3s ease-in-out;
	// 	-ms-transition:all .3s ease-in-out;
	// 	-o-transition:all .3s ease-in-out;
	// 	transition:all .3s ease-in-out;
	// }
	// .ttmenu .entry:hover .magnifier {
	// 	zoom: 1;
	// 	filter: alpha(opacity=100);
	// 	opacity: 1;
	// }
	// .ttmenu .menu-image {
	// 		margin-bottom: 30px;
	// }
	// #myCarousel img {
	// 		width: 100%;
	// }
	
	// /* MENU TABBED */
	
	// .nav-pills {
	// 		margin-top: 6px;
	// }
	// .nav-pills > li {
	// 	float: none;
	// 	margin-top:0;
	// 	cursor: pointer;
	// 		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	// }
	// .nav-pills > li > a {
	// 	border-radius: 0;
	// 	cursor: pointer !important;
	// 	border:0 !important;
	// 	position: relative;
	// 	font-weight: bold !important;
	// 	text-transform: uppercase !important;
	// 	margin-right: 0;
	// }
	
	// .nav-pills > li > a:after{
	// 		content: "\f105";
	// 		color:#FD9113;
	// 		font-family: 'FontAwesome';
	// 		display:block;
	// 		right:10px;
	// 		width:0;
	// 		position:absolute;
	// 		height:0;
	// 		top:13px;
	// 		margin-top:0;
	// 		margin-right:10px;
	// }
	
	// /* DARK STYLE */
	
	// .dark-style .coldesc {
	// 		background: #050084;
	// 		color:#fff;
	// 		margin-bottom: 10px;
	// 		text-align:center;
	// }
	// .dark-style .navbar-default .ttmenu-content {
	// 		border-radius: 0;
	// }
	// .dark-style .dropdown-menu {
	// 		background-color:#ffffff !important;
	// }
	
	// .dark-style .navbar-default .dropdown-menu li a,
	// .dark-style .ttmenu-content .box li a,
	// .dark-style .ttmenu-content .box li:before {
	// 		color:#1a1a1a !important;
	// }
	// .dark-style .ttmenu-content .box li a:hover,
	// .dark-style .ttmenu-content .box li a:focus {
	// 		background:none !important
	// }
	// .dark-style .ttmenu-content .box li {
	// 		border-bottom-color: rgba(0, 0, 0, 0.1);
	// }
	// .dark-style .navbar-default .dropdown-menu li a:hover,
	// .dark-style .navbar-default .dropdown-menu li a:focus {
	// 		background:#ffffff;
	// }
	// .dark-style .form-control,
	// .dark-style .searchbox-icon, .searchbox-submit,
	// .dark-style .navbar-default {
	// 		background: #050084;
	// }
	// /* RESPONSIVE */
	// @media only screen and (max-width: 1200px) {
	// 		.navbar-default .navbar-nav > li > a {font-size: 13px;}
	// 				.dark-style .navbar-default .ttmenu-content {padding: 0 20px;}
	// 		}
	// @media only screen and (max-width: 900px) {
	// 		.ttmenu .navbar-default .navbar-toggle {
	// 				margin-top: 0;}
	// }
	// @media (max-width: 767px) {
	
	// 		#vertical .navbar-brand {
	// 				width: 60px;
	// 		}
	// 		#vertical .ttmenu-full.open {
	// 				max-width: 100%;
	// 				width: 100% !important;
	// 				position: relative;
	// 		}
	// 		#vertical .navbar-default,
	// 		#vertical .navbar-default .nav,
	// 		#vertical .navbar-default .collapse,
	// 		#vertical .navbar-default .dropup,
	// 		#vertical .navbar-default .dropdown {
	// 				position: static;
	// 				width: 100% !important;
	// 				left:0;
	// 		}
	// 		#vertical .navbar-collapse {
	// 				padding: 0
	// 		}
	// 		#vertical .navbar-default .navbar-nav li .vertical-menu {
	// 				opacity: 1;
	// 				position: static;
	// 				left: 100% !important;
	// 				right: 100% !important;
	// 				top:auto;
	// 				margin-top: 0 !important;
	// 				max-width: 100%;
	// 				padding:0;
	// 		}
	// 		#vertical .navbar-default .navbar-nav li .vertical-dropdown-menu {
	// 				opacity: 1;
	// 				position: static;
	// 				left: 100% !important;
	// 				right: 100% !important;
	// 				top:auto;
	// 				margin-top: 0 !important;
	// 				max-width: 100%;
	// 				padding:0;
	// 		}
	// 		#vertical .navbar-collapse {
	// 				padding:0 0 0 20px;
	// 		}
	// 		#vertical .dropdown-menu, 
	// 		#vertical .navbar-default .ttmenu-content {
	// 				padding:20px;
	// 		}
	// 		#vertical .nav-pills {
	// 				max-width: 200px;
	// 		}
	// 		#vertical .dropme:after{
	// 				content: "\f107";
	// 				color:#fff;
	// 				position: absolute;
	// 				right: 20px;
	// 				padding-left: 5px;
	// 				font-family: 'FontAwesome';
	// 		}
	// 		.nav-pills > li > a::after,
	// 		.dropme-left:after{
	// 				content: "\f107";
	// 		}
	// 		.ttmenu .nav-pills,
	// 		#vertical .nav-pills {
	// 				width: 100%;
	// 				padding:0;
	// 				max-width: 100%;
	// 				margin-bottom: 20px;
	// 		}
	// }
	
	/* SUB MENU STYLE */
	
// 	.ttmenu .dropdown-submenu {
// 			position:relative;
// 	}
// 	.ttmenu .dropdown-submenu>.dropdown-menu {
// 			top:0;
// 			left:100%;
// 			margin-top:0;
// 			margin-left:0;
// 			border-radius:0;
// 	}
// 	.ttmenu .dropdown-submenu:hover>.dropdown-menu {
// 			display:block;
// 	}
// 	.ttmenu .dropdown-submenu.pull-left {
// 			float:none;
// 	}
// 	.ttmenu .dropdown-submenu.pull-left>.dropdown-menu {
// 			left:-100%;
// 			margin-left:10px;
// 			-webkit-border-radius:6px 0 6px 6px;
// 			-moz-border-radius:6px 0 6px 6px;
// 			border-radius:6px 0 6px 6px;
// 	}
// 	.ttmenu .open > .dropdown-menu {
// 		animation-name: slidenavAnimation;
// 		animation-duration:.5s;
// 		animation-iteration-count: 1;
// 		animation-timing-function: ease;
// 		animation-fill-mode: forwards;
// 		-webkit-animation-name: slidenavAnimation;
// 		-webkit-animation-duration:.5s;
// 		-webkit-animation-iteration-count: 1;
// 		-webkit-animation-timing-function: ease;
// 		-webkit-animation-fill-mode: forwards;
// 		-moz-animation-name: slidenavAnimation;
// 		-moz-animation-duration:.5s;
// 		-moz-animation-iteration-count: 1;
// 		-moz-animation-timing-function: ease;
// 		-moz-animation-fill-mode: forwards;
// 	}

// a {
// 	color: #377DFF;
// 	text-decoration: none;
// }

// p {
// 	font-weight: 300;
// 	color: #444;
// 	font-size: 15px;
// 	line-height: 24px;
// }

// h2 {
// 	font-weight: 400;
// 	color: #000;
// 	font-size: 20px;
// }
	
// .logo a img {
// 	max-width: 250px;
// 	padding: 0;
// 	display: inline-block;
// }

// .h-header-datos {
// 	text-align: right;
// 	padding: 0;

// 	p {
// 		margin: 0;
// 		font-size: 1em;
// 		display: inline-block;

// 		a {
// 			margin-left: 5px;
// 			color: #000000;
// 			font-weight: 500;
// 		}
// 	}
// }

// .h-fono {
// 	color: #3FA1F4 !important;
// 	font-weight: 500 !important;
// }

// .menu-p {
// 	background: #fff;
// 	margin: 1em 0;
// }

// .hero {
// 	padding: 0;
// 	position: relative;
// 	font-family: 'Poppins', sans-serif;
// }

// .dark-style .navbar-default {
// 	background: #fff;
// }

// .ttmenu .navbar-default {
// 	border: 0;
// 	width: 100% !important;
// 	border-radius: 0;
// }

// .navbar {
// 	border-radius: 0;
// 	margin-bottom: 0;
// 	min-height: 40px;
// }

// /* montaje html5 y front-end por Rafael Olea contacto@rafaelolea.cl www.rafaelolea.cl */

// @import url("font-awesome/css/font-awesome.min.css"); @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

// body {font-family: 'Poppins', sans-serif;}
// a {color: #377DFF; }
// a:hover {text-decoration: none; color: #000;}
// p { font-weight: 300; color: #444; font-size: 15px; line-height: 24px; }
// h2 {font-weight: 400; color: #000; font-size: 20px;}
// ul {color: #7b7b7b; font-weight: 300; font-size: 15px;}
// .img-thumbnail { border: none; }
// .clear { clear: both; }

// /* HEADER */
// header {padding: 1em;}
// .logo a img {max-width: 250px; padding: 0; display: inline-block;}
// .logo h1 {margin: 0;}
// .menu-p {margin: 1em 0;}
// .menu-contacto {display: inline-block; margin-left: 1em;}
// .btn-volver {margin-top: 10px;}
// .btn-volver .btn {padding: 0 15px 10px 15px; }
// .h-header-datos {text-align: right; padding: 0;}
// .h-header-datos p {margin: 0; font-size: 1em; display: inline-block;}
// .h-header-datos p a {margin-left: 5px; color: #000000; font-weight: 500;}
// .h-header-datos i {background: #6CD06A; color: #fff; padding: 3px 4px; -webkit-border-radius: 55px; -moz-border-radius: 55px; border-radius: 55px;}
// .h-fono {color: #3FA1F4 !important; font-weight: 500 !important;}
// /* CONTENIDOS GENERAL */
// .p-int {margin:4em auto 6em auto;}
// .p-int .btn {margin: 2em 0;}
// .p-int h1 {font-weight: 300; color: #7b7b7b; font-size: 15px; line-height: 24px;}
// .p-int strong {font-weight: 500; color: #000;}
// .p-int h3 {color: #377DFF; font-size: 2em; margin: 0 0 1em 0 }
// .p-int a span {color: #FF0402; font-size: 10px;}
// .p-info1 {padding: 3em 7em 2em 7em; margin-bottom: 4em; min-height: 150px; background: #f9f9f9;}
// .p-info1 p strong {font-size: 1.6em;}
// .p-info2 {padding: 2em 7em .5em 7em; background: #2D95EF; margin-bottom: 4em; min-height: 150px;}
// .p-info2 p {color: #fff;}
// .p-info2 p a {color: #fff; display: inline-block; font-size: 1.2em;}
// .p-info2 p a:hover {color: #000;}
// .p-info2 p strong {font-size: 2em; font-weight: 600;}
// .p-laempresa {margin: 4em 0;}
// .p-laempresa h2 {margin-top: 4em;}
// .p-laempresa p {margin: 2em auto;}
// .p-laempresa-info h2 {color: #377DFF; font-size: 6em;}
// .p-laempresa-logos {margin-top: 4em;}
// .p-laempresa-logos img {margin-top: 4em; max-width: 120px; height: auto;}
// .p-serv-destacados {margin: 2em 0 8em 0;}
// .p-serv-destacados-items { margin: 4em auto; text-align: center;}
// .p-serv-destacados-items img {max-width:100px; height: auto; display:inline-block;}
// .p-linea-vert {background: url(../images/linea-vertical.jpg) right no-repeat; }
// .p-linea-txt {min-height: 260px;}
// .p-ultimos-trabajos {margin: 4em 0;}
// .p-clientes-comentarios {margin: 4em 0;}
// .p-comentarios-items {-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.10); -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.10); box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.10); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 2em; margin: 2em .5em;}
// .p-comentarios-items i {color: #FCC700;}
// .p-comentarios-items p {color: #444444; font-weight: 400;}
// .p-comentarios-perfil img {float: left; margin-right: 1em; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; max-width: 80px;}
// .p-comentarios-perfil  {margin: 20px 0;}
// .p-comentarios-perfil h2 {margin: 0; padding-top: 20px; font-size: 1.5em; }
// .p-comentarios-perfil h3 {margin: 0; font-size: 1em; font-weight: 300; color: #7b7b7b;}
// .p-contactar {background: url(../dinamicos/contenidos/contactanos.jpg) bottom right no-repeat; padding: 0; margin: 4em 0 0 0;}
// .p-contactar-formulario {max-width: 60%; margin: 4em auto 0 auto;}
// .p-contactar-formulario .btn {width: 100%; margin: 1em 0;}
// .datos-de-contacto {margin-top: 3em;}
// .datos-de-contacto h2 {color: #377dff; font-size: 30px;}
// .datos-de-contacto p {font-size: 18px; font-weight: 400;}
// .p-cont-formulario {margin: 4em auto 0 auto;}
// .p-cont-formulario .btn {width: 100%; margin: 1em 0;}
// .ejemplos-tiendaonline {background: #eff8fc; margin-top: 4em; padding: 2em 0; display: block;}
// .ejemplos-tiendaonline .btn { margin: 2em 0;}
// .ejemplos-tiendas-web {margin: 2em 0 6em 0;}
// .ejemplos-tiendas-web img {background: #fff; margin: 1.2em auto; padding: 10px 5px; text-align: center; height: auto; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.10); -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.10); box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.10);} 
// .ejemplos-tiendas-web a {margin: 0; text-align: center; display: block; }
// .ejemplos-tiendas-web div {margin: 0;}
// .ejemplos-tiendas-web p {height: 25px;}
// .ejemplos-tiendas-web .ejemplo-info {padding: 1em;}
// .ejemplos-tiendas-web .ejemplo-info h2 {color: #000; margin: 0; font-size: 1.2em;}
// .ejemplos-tiendas-web .ejemplo-info pÂ {color: #cccccc;}
// .ejemplos-tiendas-web .ejemplo-info-detalle {height: 65px;}
// .ejemplos-tiendas-web .ejemplo-info-detalle p {margin: 0;}
// .metodo-trabajo {margin: 8em auto; max-width: 80%;}
// .metodo-trabajo img {float: left; margin-right: 1em; max-width: 70px;}
// .metodo-trabajo p {color: #000; max-width: 80%; }
// .metodo-trabajo div {margin: 1em 0;}
// .metodo-trabajo-items p {min-height: 100px;}
// .metodo-trabajo-items {padding: 4em 0 0 0;}
// .telefonos-visual {text-align: left; max-width: 80%; margin: 4em auto; display: block;}
// .telefonos-visual .table > tbody > tr > td {border: none; padding: 1em 8em; font-size: 1.3em;}
// .la-empresa p {color: #000;}
// .la-empresa img {margin: 4em;}
// .equipo {margin: 4em 0;}
// .equipo-item {min-height: 170px; max-height: 250px; text-align: center; background: #f8f8f8; margin: 15px 0; padding: 10px; -webkit-box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.10); -moz-box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.10); box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.10); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 10px;}
// .equipo-item img {margin: 0 auto 10px auto; display:block; text-align: center; max-width: 50px;}
// .equipo-item h2 {margin: 0; color: #000000; font-size: 1.2em;}
// .equipo-item p {margin: 0; line-height: 20px;}
// .equipo-item p strong {font-size: .9em; margin: 0; color: #6C717C;}
// .equipo-item p span {margin: 0;}
// .equipo-item p a {margin: 0; font-size: .8em; display: inline-block; color: #33D0B0;}
// .equipo-item i {font-size: 13px; color: #444;}
// .empresa-items {margin: 4em 0; text-align: center;}
// .item-laempresa-logos img {margin: 1em auto; max-width: 150px; height: auto;}
// .portafolio-detalle-img {margin-bottom: 4em; }
// .portafolio-detalle-img img {background: #f1f1f1; padding: 1em;}
// .lista-clientes a {margin: 1em 0; display: block; padding: 10px; border: 1px solid #f2f2f2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 10px;}
// .horario-atencion {margin-bottom: 6em;}
// .marca-clientes {margin: 2em 1em;}
// .paginador {margin: 15px 10px; padding: 5px; font-size: 1em; font-weight: 300; }
// .paginador ol a { font-weight: 400; font-size: 1em; color: #777; }
// .breadcrumb { margin-bottom: 0; padding: 0; }
// .paginador .breadcrumb > li {color: #999; font-size: .9em;}
// .logo-enlaces {margin: 2em 0 4em 0;}
// .logo-enlaces a {-webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; opacity: 1;}
// .logo-enlaces a:hover {opacity: .8;}
// /* FORMULARIO */
// .form-control { padding: 15px; height: auto;}
// .form-control::placeholder {color:#ccc; }
// .titulo-formulario {text-align: center; margin: 2em 0 4em 0;}
// .titulo-formulario h2 {color: #243241; font-size: 1em; font-weight: 400; letter-spacing: 3px; margin: 0; }
// .titulo-formulario h3 {font-size: 2.5em; margin: .3em 0; font-weight: 400;}
// .titulo-formulario h3 span {color: #99CB00; }
// .formularios-internos {margin: 2em auto 4em auto; max-width: 80%;}
// .formularios-internos label {font-size: 1.4em; font-weight: 300; margin:.9em 0;}
// .formularios-internos label span {color: #DD2C2C;}
// .formularios-internos .form-control {padding: 15px; height: 50px;}
// .formularios-internos .textarea {padding: 15px; min-height: 250px;}
// .formularios-internos .form-control::placeholder {color: #C3C3C3; font-size: 1.2em;}
// .formularios-internos .btn-formulario {margin: 3em 0;}
// .formularios-internos .btn { font-size: 1.5em; font-weight: 300; padding: 10px 100px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 0 1em 0 0; }
// .formularios-internos .form-capcha-valor {border: 1px solid #ddd; padding: 10px; width: 100px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #f1f1f1;}
// .formularios-internos .form-resultado {border: 1px solid #ddd; padding: 10px; width: 100px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
// .formularios-internos p {font-size: 1em;}
// .contacto-comunas {text-align: center;}
// .contacto-comunas a {margin: 10px; padding: 5px 8px; background: #208CFF; color: #ffffff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block;}
// .contacto-comunas a:hover {background: #22189C;}
// /* TÃTULOS */
// .titulo1 {margin-bottom: 2em;}
// .titulo1 h1 {color: #000; font-weight: 300; text-align: center;}
// .titulo1 h1 span {color: #377DFF; display: block; font-weight: 600; }
// .titulo1 h2 {letter-spacing: 5px; font-weight: 400; font-size: 1em; color: #777; text-align: center;}
// .titulo2 {text-align: center; margin: 2em 0;}
// .titulo2 h2 {color: #000; font-size: 2em; font-weight: 300; margin: 0;}
// .titulo2 h2 span {color: #377DFF;}
// .titulo2 p {letter-spacing: 5px; font-weight: 400; font-size: 1em; color: #777; margin: 0 auto; text-transform: uppercase; }
// .titulo-left {text-align: left; margin: 2em 0;}
// .titulo-left h2 {color: #000; font-size: 2em; font-weight: 300; margin: 0;}
// .titulo-left h2 span {color: #377DFF; font-weight: 500; display: inline-block;}
// /* MENÃš */
// .menu-p {background: #fff;}
// .nav { font-size: 1em; }
// .navbar { border-radius: 0; margin-bottom: 0; min-height: 40px; }
// .glyphicon {color:#7b7d7d; }
// .glyphicon:hover { color: #ddd; }
// .buscador-lupa:hover {background: #ddd; border-color: #ccc; }
// /* POPUP */
// .pop-info {margin: 1em;}
// .pop-gral h4 {margin: 0; padding: 0;}
// .popup img {text-align: center; margin-bottom: 10px; display: block; margin-left: auto; margin-right: auto;}
// .popup form {width: 60%; margin: 0 auto;}
// .popup .btn-primary {display: block; margin: 0 auto;}
// .modal-header {background: none;}
// .panel-title { font-size: 1em; color: #0050AD; }
// .panel-body h2 { font-size: 1em; font-weight: bold; }
// /* MENÃš IZQUIERDO */
// .panel-danger {border-color: #fff; background: #FAFAFA; }
// .panel-heading h2 { font-weight: 300; text-transform: uppercase; font-size: 1.2em; margin: 0; color: #fff; }
// .panel-danger > .panel-heading { background: #4E52A5; border-color: #fff; padding: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;}
// .list-group-item { padding: 12px 10px; background: #fff; border: none; } 
// .list-group-item:hover { background: #eee; }
// .list-group-item.active { background: #06C1DC;  }
// .list-group-item.active:hover { background: #4E52A5; border-color: #4E52A5; }
// .panel-title > a {color: #000; font-size: 1.3em; font-weight: 300; display: block;}
// .panel-title > a:hover {text-decoration: none;}
// .panel-title > a span {color: #377DFF; display: block; float:right;}
// .panel-default > .panel-heading:hover {background: #fff;}
// .panel-default {border-color: #fff;}
// /* FOOTER */
// #footer {background: url(../images/back-footer.jpg); padding: 4em 0 8em 0; color: #fff;}
// #footer a {color: #fff; font-size: 1em; font-weight: 400; line-height: 28px;}
// #footer a:hover {color: #38BAFF;}
// #footer p {color: #fff; line-height: normal; font-size: 1em; margin: 0;}
// #footer h3 {margin: 0 0 2em 0; font-size: 1.2em; font-weight: 300;}
// .f-logo {max-width: 230px; height: auto; margin-bottom: 2em; }
// .f-items p {display: flex; justify-content: space-between;}
// .f-cont a {display: block;}
// .f-visual p {max-width:100%;}
// .f-right {margin-top: 7em;}
// .f-right a {margin: 0 1em;}
// .f-redes {margin-bottom: 2em;}
// .f-redes img {max-width: 30px; height: auto; margin: 0 7px 0 0;}
// .f-links {margin-right: 60px;}
// .f-links i {background: #6CD06A; color: #fff; padding: 4px 4px; -webkit-border-radius: 55px; -moz-border-radius: 55px; border-radius: 55px;}
// .menu-responsive {display: none;}
// .btn-c {text-align: center; display: block; margin-bottom: 2em; }
// /* SUB-MENU */
// .dropdown-menu { -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;}
// .dropdown-menu > li > a {color: #666;}
// .dropdown-menu > li > a:hover {color: #000;}
// .dropdown-submenu { position:relative;}
// .dropdown-submenu>.dropdown-menu {top:0; left:100%; margin-top:-6px; margin-left:-1px; -webkit-border-radius:0 6px 6px 6px; -moz-border-radius:0 6px 6px 6px; border-radius:0 6px 6px 6px; }
// .dropdown-submenu:hover>.dropdown-menu {display:block;}
// .dropdown-submenu>a:after {display:block; content:" "; float:right; width:0; height:0; border-color:transparent; border-style:solid; border-width:5px 0 5px 5px; border-left-color:#cccccc; margin-top:5px; margin-right:-10px;}
// .dropdown-submenu:hover>a:after { border-left-color:#ffffff;}
// .dropdown-submenu.pull-left {float:none; }
// .dropdown-submenu.pull-left > .dropdown-menu {left: -100%; margin-left: 10px;}
// .mapa iframe { width: 100%; max-height: 700px; margin: 1em 0 0 0; }
// /* PestaÃ±as */
// .tablitas { padding: 0; margin: 0 auto; }
// .tablitas .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { background: #444; color: #fff; }
// .tablitas .nav-tabs > li.active > a:hover {background: #000; color: #f8f8f8; font-weight: 300; }
// .tablitas .nav > li > a {padding: 17px 15px; font-size: 18px; font-weight: 300; letter-spacing: 1px; background: #013D7B; color: #fff; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
// .tablitas .nav > li > a:hover {color: #fff; background: #000;}
// .tablitas .nav > li > a img {margin-right: 8px;}
// /* TAB DETALLE PRODUCTO */
// .tablitas2 { padding: 0; margin: 0 auto; }
// .tablitas2 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background: #ffffff; color: #377DFF;  }
// .tablitas2 .nav > li.active > a {border: none;}
// .tablitas2 ul {margin: 0;}
// .tablitas2 ul li {margin: 0;}
// .tablitas2 .nav > li > a {padding: 17px 15px; font-size: 15px; font-weight: 300; letter-spacing: 1px; background: #ffffff; color: #7F7F7F; }
// .tablitas2 .nav > li > a img {margin-right: 8px;}
// .tablitas2 .tab-content {border-left: none; border-right: none; border-bottom: none; }
// .nav-center { width: 100%; text-align: center; }
// .nav-center > li { float: none; display: inline-block; }
// .nav-tabs > li.active > a {border: none;}
// .nav-tabs > li.active > a:hover {border-top: none;}
// .nav-tabs > li > a:hover {border: none;}
// .nav-tabs > li > a {margin-right: 0;}
// /* PRECIOS */
// .precios-visual {margin: 4em 0 3em 0;}
// .precios-visual table td span {color: #FF0402; font-size: 10px;}
// .precios-visual table td img {max-width: 60px; margin: 10px; display:block;}
// .precios-visual .v-servidor {font-size: 15px; font-weight: 600; color: #125FC8;}
// .precios-visual .table-hover > tbody > tr:hover { background-color: #f1f1f1;  }
// .precios-visual thead {background: #125FC8; color: #fff;}
// /* MENU ACORDEON */
// .panel {font-size: 14px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 0; margin-top: 1em;}
// .preg-frecuentes {max-width: 80%; margin: 4em auto;}
// .preg-frecuentes span i {float: right; font-size: 13px;}
// .preg-frecuentes .panel-default > .panel-heading {border: 1px solid #ddd; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
// .preg-frecuentes .panel-default > .panel-headin:hover {background: #ddd;}
// .preg-frecuentes .panel-group .panel-heading + .panel-collapse > .panel-body {border-top-color: none; border: 1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
// /* swiper carrusel */
// .swiper-container { width: 100%; height: 100%; }
// .swiper-slide { background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

// .error-404 {text-align: center;}
// .error-404 img {margin: 0 auto;}
// /* <<<<<<<<<<< MEDIA QUERIES >>>>>>>>>> */
// @media only screen and (max-width: 1430px) {
//     .titulo2 p {height: 50px;}
//     .p-linea-txt {min-height: 310px;}
// }
// @media only screen and (max-width: 1300px) {
//     .equipo-item {min-height: 220px;}
//     .equipo-item p a {font-size: 11px;}
// }
// @media only screen and (min-width: 992px) and (max-width: 1200px) {
//     .m-contacto {margin-bottom: 1em;}
//     .m-contacto img {margin: 0 auto;}
//     .metodo-trabajo img {max-width: 30px;}
//     .metodo-trabajo p {font-size: 1em; line-height: inherit;}
//     .telefonos-visual .table > tbody > tr > td {padding: 1em 5em;}
//     .f-links {margin-right: 0;}
//     .p-linea-txt {min-height: 450px;}
//     .logo a img {max-width: 240px;}
// }
// @media only screen and (max-width: 991px) {
//     .h-header-datos {text-align: center; margin-top: 20px;}
//     .p-laempresa h2 {margin-top: 0;}
//     .p-laempresa img {margin-bottom: 2em;}
//     .logo {text-align: center;}
//     .nav { width: 100%;}
//     .navbar-header  { background: #f1f1f1; }
//     .navbar-header h2 {color: #000; display: inline-block; margin: 1.2em 1em; font-size: 15px; }
//     .navbar-toggle {background: #2D95EF;}
//     .ttmenu .navbar-default .navbar-toggle {margin-top: 10px !important;}
//     .menu-izq {display: none;}
//     .menu-responsive {display: block; text-align: center;}
//     .menu-datos {width: auto;}
//     .m-contacto {margin-bottom: 1em;}
//     .ttmenu .navbar-default .nav ul {margin: 10px;}
//     .ttmenu .navbar-default .dropdown-menu h2 {display: block; margin: 10px;}
//     .m-contacto img {margin: 0 auto 10px auto; width: 100%;}
//     .lista-clientes a {text-align: center;}
//     .lista-clientes a img {text-align: center; margin: 0 auto;}
//     .metodo-trabajo div {height: auto; margin: 2em 0 0 0;}
//     .metodo-trabajo img {max-width: 30px;}
//     .metodo-trabajo p {max-width: 100%;}
//     .metodo-trabajo-items p {min-height: auto;}
//     .telefonos-visual .table > tbody > tr > td {padding: 1em 3em;}
//     .item-laempresa-logos img {margin: 0 auto; width: 100%;}
//     #footer p {font-size: 1em; margin: 8px 0;}
//     .f-cont a {margin: 8px 0;}
//     .f-f {margin-top: 2em;}
//     .f-links {margin-right: 0;}
//     .p-laempresa {text-align: center;}
//     .p-laempresa-logos img {margin: 0 auto;}
//     .p-laempresa-info h2 {font-size: 4em; text-align: center; margin: 0 auto; display: block}
//     .p-laempresa-info p {text-align: center;}
//     .p-serv-destacados-items {max-width: 100%;}
//     .p-contactar-formulario {max-width: 80%; }
//     .p-linea-vert, .p-linea-vert2 {background: none; margin: 3em 0;}
//     .formularios-internos .btn { padding: 10px 30px;}
//     .equipo-item {min-height: 150px;}
//     .titulo1 {margin-bottom: 4em;} 
//     .titulo2 p {height: auto;}
//     .p-linea-txt {min-height: 280px;}
// }
// @media only screen and (max-width: 766px) {
//     p { font-weight: 400; color: #7b7b7b; font-size: 15px; line-height: 24px; }
//     .m-menu {padding: 0;}
//     .menu-p {margin: 20px 0 0 0;}
//     .navbar { border-radius: 0; margin-bottom: 0; }
//     .nav-mombre { display: block; padding: 1em 2em; font-weight: bold; color: #fff;}
//     .navbar-default .navbar-toggle {border: none;}
//     .navbar-default .navbar-nav > li > a {font-size: 15px !important; }
//     .p-info1, .p-info2 {padding: 2em; margin-bottom: 0; text-align: center;}
//     .tablitas2 ul li {display: block;}
//     .telefonos-visual { margin: 4em auto;}
//     .telefonos-visual .table > tbody > tr > td {padding: 1em .5em; font-size: .9em;}
//     .telefonos-visual .table > tbody > tr {text-align: center;}
//     .empresa-items img {max-width: 80px; height: auto;}
//     .ejemplos-tiendas-web {margin: 2em 0;}
//     #footer h3 {margin: 0 0 8px 0;}
//     #footer .f-right a {display: inline-block;}
//     .p-contactar-formulario {max-width: 100%; }
//     .panel-title > a {max-width: 95%;}
//     .panel-title > a span {margin: 5px;}
//     .menu-contacto {margin-top: 10px;}
//     .equipo-item {min-height: auto;}
//     .p-linea-txt {min-height: auto;}
// }
// @media only screen and (max-width: 480px) {
//     .p-int {margin: 0 auto 6em auto;}
//     .logo a img {max-width: 100%; margin-bottom: 1em;}
//     .formularios-internos {margin: 2em auto; max-width: 100%;}
//     .formularios-internos label {font-weight: 400;}
//     .formularios-internos .btn { padding: 10px 30px;}
//     .horario-atencion {margin-bottom: 0;}
//     #footer {background: url(../images/back-footer-mini.jpg) center top;}
//     #footer p {font-size: .9em;}
//     #footer a {font-size: .9em; line-height: 22px;}
//     .formularios-internos .textarea {min-height: 100px;}
//     .panel-title > a {font-size: 1.2em; font-weight: 500;}
//     .nav-tabs > li {float: none;}
//     .nav-tabs > li {margin-bottom: 0;}
//     .navbar-brand {padding: 20px;}
//     .nav-tabs > li.active > a {border: none;}
//     .menu-contacto {margin-left: 0;}
//     .telefonos-visual { margin: 4em 0; text-align: center; display: inline;}
//     .f-items p a {font-size: 1em;}
//     .f-visual p {max-width: 100%;}
//     .f-right {margin-top: 2em; margin-bottom: 4em; text-align: center;}
//     .f-right a {margin: 0 .5em;}
//     .p-linea-vert {background: none;}
//     .p-serv-destacados-items img {margin-top: 1em;}
//     .preg-frecuentes {max-width: 100%;}
//     .p-contactar {background: url(../dinamicos/contenidos/contactanos-mini.jpg) top right no-repeat;}
// }
// /* Efectos animaciÃ³n imÃ¡genes */
// .hvr-grow { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; }
// .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active { -webkit-transform: scale(1.04); transform: scale(1.04); }
// .hvr-shrink { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; }
// .hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active { -webkit-transform: scale(0.95); transform: scale(0.95); }